/* comment part */
.comment .writer { font-weight:bold; }
.comment .admin { color:#933; }
.comment .title { clear:both; font-weight:bold; margin-bottom:5px; border-bottom:1px solid #ccc; padding-bottom:5px; font-size:9pt; }
.comment .ranktabletitle { font-weight:normal; font-style:italic; color:#666; }
.comment .info { padding-bottom:8px; overflow:hidden; }
.comment .info .detail { font-size: 9pt; display:inline; }
.comment .info .left { float:left; }	/* writer, etc... */
.comment .info .right {float:right; width:100px; text-align: right; } /* password to remove */
.comment .info .right .input-group { margin-top:-3px; }
.comment .info .right .input-group input { padding: 0 12px; height:18px; border:0 none; border-radius:0; border-bottom:1px solid #ccc; }
.comment .info .right .input-group .btn { font-size:5px; }
.comment .info .date { color:#666; }
.comment .info .score { margin-left:5px; }
.comment .info .ip { color:#999; font-size:9pt; }

/* writeform part */
#writeform { background-color:#f0f0f0; font-size:9pt; }
#writeform .label { width:120px; }
