/*
font from
http://mplus.font-face.jp/#/
*/
@font-face {
    font-family: 'M+ 1c medium';
    src: url('../fonts/mplus-1c-medium-sub.eot');
    src: url('../fonts/mplus-1c-medium-sub.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mplus-1c-medium-sub.woff') format('woff'),
    url('../fonts/mplus-1c-medium-sub.ttf') format('truetype');
}


/* container */
#container { max-width: 980px; margin:auto; padding:0 20px; }
#container.fixed { max-width:1120px; width: 1120px; }
#container .notice_inner { max-width: 480px; margin: 100px auto 0; }
#footer { font-size:11px; color:#ccc; text-align: center; width:100%;cursor:default; margin-top: 80px; }
#menu { margin: 20px 0; }
#menu .clear { padding-bottom:10px; }

/* paging part (container) */
#container .paging { font-size:9pt; overflow:hidden; color:#666; height:45px; }
#container .paging .prev { float:left; padding:0 10px; width:100px; height:10px; text-align:left; }
#container .paging .next { float:right; padding:0 10px; width:100px; height:10px; text-align:right; }
#container .paging .center { float:left; width:100%; margin-top:-10px; text-align:center; }

/* table */
table { width:100%; margin-bottom: 100px; }
table tbody tr { border-bottom: 1px solid #ccc; }
table tbody tr:hover { background-color:#eee; }
table thead { border-bottom:1px solid #333; }
table th, table td { padding:10px; }
table thead th.small { width:1%; }
table .t0 { background-color:#fcfcfc; }
table .t1 { background-color:#efefef; }
table .loading { color:#999; text-align: center; padding:20px; }

/* userpage */
#goto { cursor:pointer; cursor:hand;/*fallback*/ }
#container .notice_inner h4.djname { float:left; }
#container .notice_inner h4.level { float:right; cursor:pointer; cursor:hand; }
#container .notice_inner h4.level span { display:none; }
#container .notice_inner h4.level:hover span { display:block; margin-top:-30px; position:absolute; }

/* about difficulty color */
.SPA, .DPA { color:#b33; }
.SPH, .DPH { color:#bb3; }
.SPN, .DPN { color:#36b; }
.SPA_l, .DPA_l { color:#FAA; }
.SPH_l, .DPH_l { color:#FFA; }
.SPN_l, .DPN_l { color:#AAF; }
.SPA_s, .DPA_s { text-shadow:0px 0px 3px #f66; }
.SPH_s, .DPH_s { text-shadow: 0px 0px 3px #ff6; }
.SPN_s, .DPN_s { text-shadow: 0px 0px 3px #66f; }

/* others (common) */
.clear { clear:both; }
.center { text-align:center; }
#message { position:fixed; display:block; right:0px; top:0px; height:auto; width:auto; background-color:#cc6; color:#fff; font-size:12px; padding: 7px; }
.row { clear:both; margin-bottom:10px; }
.row button { margin-right:6px; margin-bottom:6px; }

.btn-recommend { background-color:#366; color:#fff; font-weight:bold; }
.btn-recommend:hover { text-shadow:#ffe 0 0 10px; }
