/*
font from
http://mplus.font-face.jp/#/
*/
@font-face {
    font-family: 'M+ 1c medium';
    src: url('../fonts/mplus-1c-medium-sub.eot');
    src: url('../fonts/mplus-1c-medium-sub.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mplus-1c-medium-sub.woff') format('woff'),
    url('../fonts/mplus-1c-medium-sub.ttf') format('truetype');
}


/* container */
#container { max-width: 980px; margin:auto; padding:0 20px; }
#menu { margin: 20px 0; }
#menu .clear { padding-bottom:10px; }

/* footer part (container) */
#container .footer { font-size:9pt; overflow:hidden; color:#666; height:45px; }
#container .footer .prev { float:left; padding:0 10px; width:100px; height:10px; text-align:left; }
#container .footer .next { float:right; padding:0 10px; width:100px; height:10px; text-align:right; }
#container .footer .center { float:left; width:100%; margin-top:-10px; text-align:center; }

/* table */
table { width:100%; margin-bottom: 100px; }
table tbody tr { border-bottom: 1px solid #ccc; }
table tbody tr:hover { background-color:#eee; }
table thead { border-bottom:1px solid #333; }
table th, table td { padding:10px; }
table thead th.small { width:1%; }
table .t0 { background-color:#fcfcfc; }
table .t1 { background-color:#efefef; }
table .loading { color:#999; text-align: center; padding:20px; }

/* others */
.clear { clear:both; }
#footer { font-size:11px; color:#ccc; text-align: center; width:100%; margin-top:0px; cursor:default; }
#message { position:fixed; display:block; right:0px; top:0px; height:auto; width:auto; background-color:#cc6; color:#fff; font-size:12px; padding: 7px; }


/* about difficulty color */
.SPA, .DPA { color:#b33; }
.SPH, .DPH { color:#bb3; }
.SPN, .DPN { color:#36b; }
.SPA_l, .DPA_l { color:#FAA; }
.SPH_l, .DPH_l { color:#FFA; }
.SPN_l, .DPN_l { color:#AAF; }
.SPA_s, .DPA_s { text-shadow:0px 0px 3px #f66; }
.SPH_s, .DPH_s { text-shadow: 0px 0px 3px #ff6; }
.SPN_s, .DPN_s { text-shadow: 0px 0px 3px #66f; }
