

* { padding:0; margin:0; }
body { font-family: 'M+ 1c medium', 'Malgun Gothic', NanumBarunGothicOTF,"Helvetica Neue",Arial,"Apple SD Gothic Neo",Dotum,"돋움",sans-serif; font-size: 14px; }
#container .inner { padding:10px; overflow:hidden; }


/* cell clear lamp */
.lamp_category { display:block; height:20px; width:24px; background: url('../img/clearlamp.png') no-repeat; }
.lamp_category.NO_PLAY { display:none; }
.lamp_category.FAILED { background-position: 0 6px; }
.lamp_category.ASSIST_CLEAR { background-position: 0 -24px; }
.lamp_category.EASY_CLEAR { background-position: 0 -54px; }
.lamp_category.CLEAR { background-position: 0 -84px; }
.lamp_category.HARD_CLEAR { background-position: 0 -114px; }
.lamp_category.EX-HARD_CLEAR { background-position: 0 -144px; }
.lamp_category.FULL_COMBO { background-position: 0 -174px; }

/* category(group) clear lamp */
.lamp_group { display:block; width:11px; height:11px; background: url('../img/righttriangle.png') no-repeat -1px -1px; position:absolute; right:0; top:0; }
.lamp_group.NO_PLAY {  }
.lamp_group.FAILED { background-color:#999; color:#fff; }
.lamp_group.ASSIST_CLEAR { background-color:#97b; color:#fff; }
.lamp_group.EASY_CLEAR { background-color:#693; color:#fff; }
.lamp_group.CLEAR { background-color:#369; color:#fff }
.lamp_group.HARD_CLEAR { background-color:#c66; color:#fff; }
.lamp_group.EX-HARD_CLEAR { background-color:#cc6; color:#fff; }
.lamp_group.FULL_COMBO { background-color:#0cc; color:#fff; }

/* rank show */
.rank { position: absolute; width:16px; height:10px; top:7px; right:3px; 
	display: none; background: url('../img/rank.png') no-repeat; }
.rank.AAA { background-position: 0 0; }
.rank.AA { background-position: 0 -17px; }
.rank.A { background-position: 0 -34px; }
.rank.B { background-position: 0 -50px; }
.rank.C { background-position: 0 -67px; }
.rank.D { background-position: 0 -82px; }
.rank.E { background-position: 0 -98px; }
.rank.F { background-position: 0 -116px; }

.songlist .graph { display:block; height:100%; position:absolute; left:0; top:0; z-index:-999;}
.songlist .graph.A { background-color:#fee; }
.songlist .graph.H { background-color:#ffe; }
.songlist .graph.N { background-color:#eef; }

.songlist .grid { position:absolute; display:none; background-color: #ccc; height:5px; width:1px !important; }
.A.gA, .AA.gA, .AAA.gA,
.AA.gAA, .AAA.gAA, .AAA.gAAA { display:block; }
.gA { left:66.66%; }
.gAA { left:77.77%; }
.gAAA { left:88.88%; }

/* header part */
#title { font-family: 'Comfortaa'; text-align: center; margin-bottom:100px; color:#999; }
#title .detail { color: #000; }
#info { clear:both; height:30px; overflow:hidden; margin-bottom:10px; }

/* user pic */
#userimage { display:none; }

/* clear status (sample for top) */
#preview { float:right; list-style:none; }
#preview li { width:50px; height:23px; float:left; display:block; padding:3px 0 0 15px; background: url('../img/clearlamp.png') no-repeat; font-size: 8pt; }
#preview li.failed { background-position: 0 6px; }
#preview li.assist { background-position: 0 -24px; }
#preview li.easy { background-position: 0 -54px; }
#preview li.normal { background-position: 0 -84px; }
#preview li.hard { background-position: 0 -114px; }
#preview li.exh { background-position: 0 -144px; }
#preview li.fc { background-position: 0 -174px; }

/* user infos */
#user { float:left; }
#user span { font-weight: bold; font-size:13px; }
#user .label { display:block; float:left; padding:7px 10px; }
#user .name { background-color: #000; margin-right:15px; }
#user .spdan, #user .dpdan { background-color: #bbb; opacity:0.6; width: 42px; padding: 7px 0; }
#user .spdan { border-top-right-radius:0; border-bottom-right-radius:0; }
#user .dpdan { border-top-left-radius:0; border-bottom-left-radius:0; }
#user .iidxid { color:#666; margin-left:8px; }
.SP.spdan, .DP.dpdan { font-weight: bold; opacity:1 !important; }
.dan2,
.dan3,
.dan4,
.dan5,
.dan6,
.dan7,
.dan8 { background-color: #6c0 !important; }
.dan9,
.dan10,
.dan11,
.dan12,
.dan13,
.dan14,
.dan15,
.dan16 { background-color: #06c !important; }
.dan17,
.dan18 { background-color: #c00 !important; }
.dan19 { background-color: #ccb !important; }
.dan20 { background-color: #cc0 !important; }

#url { width:200px; }


#container_saveload { position:fixed; padding:20px; border-radius:10px; top:50%; left:50%;
	width:480px; height:600px; margin-left:-240px; margin-top:-300px; background-color:#fff; box-shadow:#000 0 0 20px; z-index:9999; }
