

* { padding:0; margin:0; }
body { font-family: 'M+ 1c medium', 'Malgun Gothic', NanumBarunGothicOTF,"Helvetica Neue",Arial,"Apple SD Gothic Neo",Dotum,"돋움",sans-serif; font-size: 14px; }
#rankimg,
#menu,
#container { width:1080px; margin: 0 auto 20px; clear: both; }
#container .inner { padding:10px; overflow:hidden; background-color:#fff;  }

/*
 * outer table (category / level)
 */
.outertable { width:100%; }
.outertable div:first-child { width:120px; }
.table { display:table; border-spacing: 0px; }
.row { display:table-row; }
.cell { display:table-cell; vertical-align: middle; }

/* outer table border setting */
.table:first-child { border-top: 2px solid #000; }
.row { }
.cell { border-left: 2px solid #000; border-bottom: 2px solid #000; }
.cell:last-child { border-right: 2px solid #000; }

/*
 * inner table (song list / name)
 */
.songlist { list-style: none; overflow: hidden; margin:0; }
.songlist li { float:left; display:block; padding:2px 0; width:20%; height: 25px; 
		border-right:1px solid #ccc; border-bottom: 1px solid #ccc; 
		overflow: hidden; position: relative; word-break: break-all; }
.songlist li:hover { background:#fff;  }
.songlist .name { padding:0 8px; /*letter-spacing: -0.5px*/ }
.rowname { font-weight: bold; text-align: center; }


/* clear lamp (sample for top) */
#preview { clear:both; width:100%; height:40px; }
#preview li { display:block; margin-right:20px; position: relative; float:left; }
.lamp_sample { margin-left: 5px; }
#preview li .clearcount { font-size:10px; font-style:italic; position:absolute; top:22px; left:0; }

/* cell clear lamp */
.lamp_category { display:inline-block; height:20px; width:24px; background: url('../img/clearlamp.png') no-repeat; }
.lamp_category.NO_PLAY { display:none; }
.lamp_category.FAILED { background-position: 0 6px; }
.lamp_category.ASSIST_CLEAR { background-position: 0 -24px; }
.lamp_category.EASY_CLEAR { background-position: 0 -54px; }
.lamp_category.CLEAR { background-position: 0 -84px; }
.lamp_category.HARD_CLEAR { background-position: 0 -114px; }
.lamp_category.EX-HARD_CLEAR { background-position: 0 -144px; }
.lamp_category.FULL_COMBO { background-position: 0 -174px; }

/* category(group) clear lamp */
.lamp_group { border-radius:.25em; padding: .2em .6em .3em; display:inline; font-size:13px; }
.lamp_group.NO_PLAY {  }
.lamp_group.FAILED { background-color:#999; color:#fff; }
.lamp_group.ASSIST_CLEAR { background-color:#97b; color:#fff; }
.lamp_group.EASY_CLEAR { background-color:#693; color:#fff; }
.lamp_group.CLEAR { background-color:#369; color:#fff }
.lamp_group.HARD_CLEAR { background-color:#c66; color:#fff; }
.lamp_group.EX-HARD_CLEAR { background-color:#cc6; color:#fff; }
.lamp_group.FULL_COMBO { background-color:#0cc; color:#fff; }

/* rank show */
.rank { position: absolute; width:16px; height:10px; top:7px; right:8px; 
	display: none; background: url('../img/rank.png') no-repeat; }
.rank.AAA { background-position: 0 0; }
.rank.AA { background-position: 0 -17px; }
.rank.A { background-position: 0 -34px; }
.rank.B { background-position: 0 -50px; }
.rank.C { background-position: 0 -67px; }
.rank.D { background-position: 0 -82px; }
.rank.E { background-position: 0 -98px; }
.rank.F { background-position: 0 -116px; }

.songlist .graph { display:block; height:100%; position:absolute; left:0; top:0; z-index:-999;}
.songlist .graph.A { background-color:#fee; }
.songlist .graph.H { background-color:#ffe; }
.songlist .graph.N { background-color:#eef; }

.songlist .grid { position:absolute; display:none; background-color: #ccc; height:5px; width:1px !important; }
.A.gA, .AA.gA, .AAA.gA,
.AA.gAA, .AAA.gAA, .AAA.gAAA { display:block; }
.gA { left:66.66%; }
.gAA { left:77.77%; }
.gAAA { left:88.88%; }

/* header part */
#title { text-align: center; margin-bottom:40px; }

#user span { font-weight: bold; font-size:13px; }
#user .name { background-color: #000; margin-right:6px; }
#user .spdan, #user .dpdan { background-color: #eee; opacity:0.5; }
#user .spdan { border-top-right-radius:0; border-bottom-right-radius:0; }
#user .dpdan { border-top-left-radius:0; border-bottom-left-radius:0; }
.SP.spdan, .DP.dpdan { font-weight: bold; opacity:1 !important; }
.dan2,
.dan3,
.dan4,
.dan5,
.dan6,
.dan7,
.dan8 { background-color: #6c0 !important; }
.dan9,
.dan10,
.dan11,
.dan12,
.dan13,
.dan14,
.dan15,
.dan16 { background-color: #06c !important; }
.dan17,
.dan18 { background-color: #c00 !important; }
.dan19 { background-color: #cc0 !important; }

#url { width:200px; }
#menu { padding: 20px; text-align: right; }
