{% extends "index.html" %}
{% block subtitle %} - songcomment{% endblock %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
{% endblock %}

{% block body %}
{% if board.message %}
<script language="javascript">
$(function () {
	showMessage("{{ board.message }}");
})
</script>
{% endif %}

{% if board.admin %}
<!-- song difficulty change function -->
<!-- NOTE: this function is only allowed to admin -->
<form role="form" action="/update/rank/" method="POST" onsubmit="return confirm('continue?');">
	{% csrf_token %}
	<div class="form-group">
		<input type="hidden" name="rankitem_id" value="{{ board.rankinfo.id }}">
		<input type="hidden" name="song_id" value="{{ board.songinfo.id }}">
		{% for cate in board.ranktable.rankcategory_set.all %}
			<label>
				<input type="radio" name="category_id" value="{{ cate.id }}"
				{% if board.rankinfo and cate.id == board.rankinfo.rankcategory.id %}
				checked
				{% endif %}
				>
				{{ cate.categoryname }}
			</label>
		{% endfor %}
		</div>
		<input type="submit" name="action" value="change">
		<input type="submit" name="action" value="delete">
	</div>
</form>
<!-- song difficulty change end -->
{% endif %}

<!-- song comment board body -->
<div class="panel panel-default">
	<div class="panel-heading {{ board.songinfo.songtype }}_s">{{ board.songinfo.songtitle }} (☆{{ board.songinfo.songlevel }} / {{ board.songinfo.songtype }}{% if board.rankinfo %} / {{ board.rankinfo.rankcategory.categoryname }}{% endif %})</div>
	<div class="list-group">
		<!-- new comment -->
		<div class="list-group-item" id="writeform">
			<form role="form" class="form-horizontal" action="./" method="post">
				{% csrf_token %}
				<input type="hidden" name="mode" value="add">

				<div class="form-group">
					<label for="writer" class="col-xs-4 control-label">name</label>
					<div class="col-xs-8">
					<input type="text" id="writer" name="writer" class="form-control input-sm" value="{{ board.writer }}">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-xs-4 control-label">password (비우면 ip로 인증됩니다)</label>
					<div class="col-xs-8">
					<input type="password" id="password" name="password" class="form-control input-sm" value="">
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-4 control-label">난이도 제안</label>
					<div class="radio col-xs-8">
						<label><input type="radio" name="score" value="99" checked> [관련없음]</label>
						<label><input type="radio" name="score" value="0"> [=]</label>
						<label><input type="radio" name="score" value="1"> [+]</label>
						<label><input type="radio" name="score" value="-1"> [-]</label>
						<p>DP 관련 제안은 zasa.sakura.ne.jp DB에서 가져오고 있기 때문에 받지 않습니다.</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
					<textarea class="form-control" name="text" placeholder="댓글을 입력하세요" rows=4 cols=50></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
					<input class="form-control btn-default" type="submit" value="OK">
					</div>
				</div>
			</form>
		</div>
		<!-- new comment ends here -->

	<!-- comments -->
		{% for comment in comments %}
		<div class="list-group-item">
			<div class="comment">
				<div class="clear info">
					<div class="left">
						<span class="writer{% if comment.attr == 2 %} admin{% endif %}">{{ comment.writer }}</span>
						<div class="detail">
							<span class="date">[{{ comment.time|date:"y-m-d H:i:s" }}]</span>
							<span class="ip">{{ comment.ip_public }}</span>
							{% if comment.score == 99 %}
							<span class="score glyphicon glyphicon-comment">
							{% elif comment.score > 0 %}
							<span class="score glyphicon glyphicon-arrow-up">
							{% elif comment.score < 0 %}
							<span class="score glyphicon glyphicon-arrow-down">
							{% elif comment.score == 0 %}
							<span class="score glyphicon glyphicon-ok-circle">
							{% endif %}
							</span>
						</div>
					</div>
					<div class="right">
						<form action="./" method="post">
							{% csrf_token %}
							<input id="mode" type="hidden" name="mode" value="delete">
							<input id="id" type="hidden" name="id" value="{{ comment.id }}">
							<div class="input-group">
								<input id="password" type="password" name="password" value="" class="form-control">
								<span class="input-group-btn">
									<input type="submit" value="X" class="btn btn-danger">
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="clear">
					<span class="text">{{ comment.text }}</span>
				</div>
			</div>
		</div>
		{% endfor %}
	<!-- end comments -->
	</div>
</div>
<!-- board body ends -->
{% endblock %}
