{% extends "view.html" %}

{% block top %} {% endblock %}

{% block navigation %}
    <div class="rankpage_info">
      <a href="{{ rankpage.url }}" class="btn btn-primary" target="_blank">{{ rankpage.name }} 서열표로 가기</a>
    </div>
    <div class="clear"></div>
    {% if request.user.is_staff %}
    <!-- navigation -->
    <div class="clear navigation">
      <div class="left" style="float:left;">
        <a class="btn btn-default" href="/board/songcomment/">목록</a>
      </div>
      <div class="right">
        <form class="right" action="/board/modify/{{ post.id }}/" method="post" id="del">
          {% csrf_token %}
          <input type="hidden" name="mode" value="delete">
          <input type="hidden" name="id" value="{{ post.id }}">
          <input type="hidden" name="password" id="password" value="">
          <button type="button" class="btn btn-default"
            onclick="doDelete(); return false;">삭제</button>
        </form>
        <a class="btn btn-default" href="/board/modify/{{ post.id }}/">수정</a>
      </div>
    </div>
    <!-- nativation ends -->
    {% endif %}
{% endblock %}
