{% extends "list.html" %}
{% block postlist %}
			{% for post in posts %}
      <li>
        <a href="/songcomment/{{ post.tag }}" onclick="openComment(this.href); return false;">
        <div class="title">{{ post.title }}</div>
        </a>
        <div class="date">{{ post.time|date:"m-d H:i" }}</div>
        {% if post.check_comment_exists %}
        {% with post.get_comments.0 as cmt %}
        <div class="detail">{{ cmt.text }} - by {{ cmt.writer }}</div>
        {% endwith %}
        {% endif %}
      </li>
			{% endfor %}
{% endblock %}
