{% extends "index.html" %}
{% block subtitle %} - board{% endblock %}
{% block head %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MooEditable/MooEditable.css' %}">
<script language="javascript" src="{% static 'js/mootools.js' %}"></script>
<script language="javascript" src="{% static 'js/MooEditable.js' %}"></script>
{% endblock %}

{% block body %}
{% if request.session.message %}
<script language="javascript">
$(function () {
	showMessage("{{ request.session.message|escape }}");
})
</script>
{% endif %}

{% block top %}
{% include 'top.html' %}
{% endblock %}

<script language="javascript">
function doDelete() {
  var pas = prompt("패스워드를 입력하세요 (입력하지 않을 시 ip로 인증)");
  $("#password").val(pas);
  $("#del").submit();
}
</script>

<div id="container"><div class="inner">
  <div class="post">
    <div class="clear info">
      <h3>{{ post.title }}</h3>
      <span class="writer{% if post.attr == 2 %} admin{% endif %}">{{ post.writer }}</span>
      <div class="detail">
        <span class="date">[{{ post.time|date:"y-m-d H:i:s" }}]</span>
        <span class="ip">{{ post.ip_public }}</span>
      </div>
    </div>

    <div class="clear body">
      {{ post.text|safe }}
    </div>

    <!-- navigation -->
    {% block navigation %}
    <div class="clear navigation">
      <div class="left" style="float:left;">
        <a class="btn btn-default" href="/board/{{ board.title }}/{{ status.page }}/">목록</a>
      </div>
      <div class="right">
        <form class="right" action="/board/modify/{{ post.id }}/" method="post" id="del">
          {% csrf_token %}
          <input type="hidden" name="mode" value="delete">
          <input type="hidden" name="id" value="{{ post.id }}">
          <input type="hidden" name="password" id="password" value="">
          <button type="button" class="btn btn-default"
            onclick="doDelete(); return false;">삭제</button>
        </form>
        <a class="btn btn-default" href="/board/modify/{{ post.id }}/">수정</a>
      </div>
    </div>
    {% endblock %}
    <!-- nativation ends -->
  </div>

  <div class="clear"></div>
    
  {% include "comment.html" %}
</div></div>
{% endblock %}
