/* comment part */
.comment.child { margin-top: 10px; padding-top:10px; }
.comment .writer { font-weight:bold; }
.comment .admin { color:#933; }
.comment .title { clear:both; font-weight:bold; margin-bottom:5px; border-bottom:1px solid #ccc; padding-bottom:5px; font-size:9pt; }
.comment .ranktabletitle { font-weight:normal; font-style:italic; color:#666; }
.comment .info { padding-bottom:8px; overflow:hidden; }
.comment .info .detail { font-size: 9pt; display:inline; }
.comment .info .left { float:left; }	/* writer, etc... */
.comment .info .right .input-group { width: 120px; } /* password to remove */
.comment .info .right .input-group input { padding: 0 12px; height:18px; border:0 none; border-radius:0; border-bottom:1px solid #ccc; box-shadow: none; float: left; width: 60px; }
.comment .info .right .input-group .btn { font-size:5px; float:right; }
.comment .info .date { color:#666; }
.comment .info .score { margin-left:5px; }
.comment .info .ip { color:#999; font-size:9pt; }

.navigation { text-align: right; overflow:hidden; margin-bottom: 20px; }
.navigation .right .btn { margin-left:10px; float:right; }

.board .postlist { list-style:none; padding: 0; }
.board .postlist a { color: #333; }
.board .postlist li { padding: 10px 10px; border-bottom: 1px solid #ccc; overflow:hidden; }
.board .postlist li:hover { background-color: #f0f0f0; }
.board .postlist a:last-child li { border-bottom: none; padding-bottom: 0; }
.board .postlist li div { float:left; padding: 0 10px; }
.board .postlist li .title { width: 600px; }
.board .postlist li .no { width:50px; text-align: center; color:#999; font-size:9pt; }
.board .postlist li .detail { width: auto; float: right; font-size: 9pt; }
.board .postlist li .cnt { color:#666; color:#999; }
.board .postlist li .writer { color:#999; }
.board .postlist li .date { letter-spacing:-1px; color:#999; }
@media screen and (max-width: 768px) {
  .board .postlist li .title { max-width: 240px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
  .board .postlist li .detail { clear: both; font-size: 8pt; padding-top: 5px; }
}

.post .info { overflow: hidden; padding-bottom: 10px; border-bottom: 1px solid #999; margin-bottom:20px; }
.post .info .title {  }
.post .info .writer { float: left; }
.post .info .detail { float: right; color: #999; }
.post .body { margin-bottom: 20px; }
.post .body table { margin-bottom: 5px; }
.admin { font-weight:bold; color:#933; }

/* writeform part */
.writeform { background-color:#f0f0f0; font-size:9pt; overflow:hidden; }
.writeform .writer { width: 300px; float: left; }
.writeform .password { width: 300px; float: left; margin-left: 20px; }
.writeform .text { width: 620px; float: left;}
.writeform textarea { height: 60px; }
.writeform .submit { width: 100px; float: right; }
#richedit { height:280px; }
.mooeditable-container { background-color:#fff; }
.recaptcha { clear:left; transform:scale(0.7); transform-origin:0; float:left; }

/* for small screen, or songcomment */
@media screen and (max-width: 768px) {
  .writeform .text { width: 100%; margin-bottom: 20px; }
  .writeform .writer { width: 40%; }
  .writeform .password { width: 40%; }
  .password .control-label { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
  .recaptcha { transform:scale(1);  }
}

