/*
font from
http://mplus.font-face.jp/#/
*/
@font-face {
    font-family: 'M+ 1c medium';
    src: url('../fonts/mplus-1c-medium-sub.eot');
    src: url('../fonts/mplus-1c-medium-sub.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mplus-1c-medium-sub.woff') format('woff'),
    url('../fonts/mplus-1c-medium-sub.ttf') format('truetype');
}

* {
  padding:0;
  margin:0;
}

html,body { height:100%; }

.hidden { display:none; }

/* index & post style */
.notice_inner .list-group .text ul,
.post .body ul { padding-left: 20px; }
.notice_inner .list-group .text li,
.post .body li { margin-bottom: 10px; }

.notice-boards { width: 100%; padding: 0 20px 0px; overflow:hidden; }
.notice-boards .board-title { 
  font-weight: bold; font-size: 11pt; 
  padding: 10px 0; border-bottom: 1px solid #ccc; }
.notice-boards ul { list-style: none; font-size: 10pt; }
.notice-boards ul a { color: #666; }
.notice-boards ul a:hover { color: #999; }
.notice-boards ul li { clear:both; overflow:hidden; }
.notice-boards ul li .title {
  float: left;max-width:200px;
  display: block; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice-boards ul li .writer {
  max-width: 50px;
  display: block; white-space:nowrap; overflow: hidden;text-overflow: ellipsis;
  float:right; margin-right: 5px; }
.notice-boards ul li .date { float:right; letter-spacing: -1px; }

/* top */
#top { width:100%; background-color:#346; height:50px; padding: 16px 0; color:#fff; }
#top .inner { width: 1000px; margin: 0 auto; }
#top #logo { font-weight:bold; float:left; }
#top #search { width:200px; margin-right:10px; margin-top:-5px; float:right; }
#topmenu { list-style:none; margin:0; padding:0; }
#topmenu li { float:left; margin-right: 40px; }
#topmenu li a { color:#ccc; }
#topmenu li a:hover { color:#fff; }

/* container */
#container { width: 1000px; margin:0 auto; padding-top:40px; }
#container .row { margin: 0 0 30px; }
#container .notice_inner { max-width: 480px; margin: 100px auto 0; }
#footer { font-size:11px; color:#ccc; text-align: center; width:100%;cursor:default; margin-top: 80px; clear:both; }

/* recentuser */
div.recentuser,
div.recentuser a { font-size: 9pt; color:#aaa; cursor:pointer; }
div.recentuser li { list-style:none; clear:both; margin:0 auto 10px; width:120px; }
div.recentuser li.info { width:auto; text-align:center; }
div.recentuser a.rmlink { float:right; color:#966; font-size:8pt; }

/* paging part (container) */
#container .paging { font-size:9pt; overflow:hidden; color:#666; height:45px; width: 240px; margin: 0 auto; }
#container .paging .prev { float:left; padding:0 10px; width:100px; height:10px; text-align:left; }
#container .paging .next { float:right; padding:0 10px; width:100px; height:10px; text-align:right; }
#container .paging .center { float:left; width:100%; margin-top:-10px; text-align:center; }

/* table */
table { width:100%; margin-bottom: 100px; }
table tbody tr { border-bottom: 1px solid #ccc; }
table tbody tr:hover { background-color:#eee; }
table thead { border-bottom:1px solid #333; }
table th, table td { padding:10px; }
table thead th.small { width:1%; }
table .t0 { background-color:#fcfcfc; }
table .t1 { background-color:#efefef; }
table .loading { color:#999; text-align: center; padding:20px; }


/* userpage (profile) */
#goto { cursor:pointer; cursor:hand;/*fallback*/ }
#container .notice_inner .row { width: 100%; }
#container .notice_inner .list-group { padding: 10px; }
#container .notice_inner .title { font-weight:bold; }
#container .notice_inner .time { float:right; color: #ccc; }
#container .notice_inner .text { }

#header { width: 100%; height: 236px; background: #336699; }
#header .inner { width: 1000px; margin: 0 auto; overflow:hidden; }
.user { position:absolute; margin-top: 40px; }
.user .userimage img { width:216px; height:216px; margin-top:0px; padding:20px; background-color:#444; }
.user .userimage { float:left; }
.user .userinfo { float:left; margin-left: 28px; }
.user .userid { float:left; margin-left:10px; color:#ccc; cursor:default; margin-top:2px; }
.user .username {  float:left; color: #fff; margin:0; }
.user .usergrade { float:left; margin-left: 50px; }
.user .userlevel { float:left; margin-left: 10px; }
.user .userlevel .level { cursor:pointer; margin:0; }
#sidemenu { position:absolute; margin-top: 40px; width: 1000px; }
#sidemenu button { float:right; }
#sidemenu #search { width:200px; margin-right:10px; float:right; }
#header #menu { position:absolute; margin-top: 88px; margin-left: 240px; }
.list { list-style:none; margin-bottom:10px; clear:both; overflow:hidden; }
.list li { float:left; display:block; font-size:11px; padding:4px 6px; border:2px solid #036; border-right: none; }
.list a:last-child li { border-right: 2px solid #036; }
.list a { color:#FFF; }

#edittool { border-radius:5px; background-color:#fff; border:1px solid #999; padding: 10px 20px; width: 450px; position:fixed; opacity:0.8; right:50px; bottom:100px; }

.list li.sel { background-color:#036 !important; font-weight:bold; }
.list li { background-color:#69c; }
.list.theme li { background-color:#96c; }
.list.table li { background-color:#c69; }
#container .list { float:left; margin-top:4px; margin-right:20px; }

/* rankedit & detail page */
.ranktable .title { margin-bottom: 40px; border-bottom: 1px solid #ccc; text-align: center; }
.ranktable .category_title { background-color: #000; padding:10px; font-weight: bold; color: #fff; cursor: pointer; }
.ranktable .ctype0 { background-color: #999 !important; }
.ranktable .category { border: 1px solid #999; padding: 10px 10px 0 0 ; background-color: #ccc; overflow: hidden; margin-bottom: 20px; cursor: pointer; }
.ranktable .item { border: 1px solid #999; padding: 5px 10px; background-color: #fff; margin: 0 0 10px 10px; height: 30px; width: 180px; float: left; font-size: 10px; }

.ranktable .category.detail { padding: 15px; }
.ranktable .category.detail a { color:#fff; font-weight: bold; }
.ranktable .itemdetail { 
  padding: 10px 10px 10px 30px; clear:both;
  width: 100%; height: 40px;
  background: url('/static/img/item_bar_bg.png') 0 0 no-repeat;
}
.ranktable .itemdetail div { float: left; }
.ranktable .itemdetail .lamp { 
  margin: -14px 0 0 -35px; display: block;
  width: 30px; height: 50px;
  background: url('/static/img/item_clearlamp.png');
}
.ranktable .itemdetail .lamp.clear0 { background: none; }
.ranktable .itemdetail .lamp.clear1 { background-position: -96px 0; opacity: 0.6; }
.ranktable .itemdetail .lamp.clear2 { background-position: -96px 0; opacity: 0.6;  }
.ranktable .itemdetail .lamp.clear3 { background-position: -128px 0; }
.ranktable .itemdetail .lamp.clear4 { background-position: -64px 0; opacity: 0.6; }
.ranktable .itemdetail .lamp.clear5 { background-position: -96px 0; }
.ranktable .itemdetail .lamp.clear6 { background-position: 0 0; }
.ranktable .itemdetail .lamp.clear7 { background-position: -64px 0; }
.ranktable .itemdetail .title { width: 485px; border: none; margin: 0; text-align: left; }
.ranktable .itemdetail .type { float: right; }
.ranktable .itemdetail .type span {
  display: block; float: left; margin-right: 10px;
  font-size: 11px; font-weight: bold; color: #fff;
  border-radius: 3px; background-color: #ccc; padding: 3px 5px; cursor: default;
}
.ranktable .itemdetail .rate {
  display:block;
  margin-left: 30px;
  width: 380px; height: 27px;
  margin-top: -4px; position:relative;
}
.ranktable .itemdetail .rate .bg { 
  position: absolute;
  margin-left: -10px;
  width: 400px; height: 100%;
  background: url('/static/img/item_rate.png') 0 0 no-repeat;
}
.ranktable .itemdetail .rate .bar {
  position:absolute;
  background-color: #9cf;
  height: 24px;
}

#editwidget.beforeedit .afteredit { display:none; }
#editwidget.afteredit .beforeedit { display:none; }
/*mobile: full screen*/
#editwidget { position: fixed; left:none; right:60px; width:420px; bottom: 0px; background: rgba(0,0,0,0.8);
  color: #fff; font-size:12pt; }
#editsonglist { padding: 0; overflow-y: scroll; max-height: 560px; font-weight: normal; }
@media screen and (max-width: 768px) {
  #editwidget { max-height: 100%; width: 100%; left: 0%; right: 0; overflow-y: scroll; }
  #editsonglist { max-height: none; overflow-y: visible; }
}
#editwidget .widget-click { cursor: pointer; }
#editwidget .widget-title { font-weight: bold; padding: 10px; }
#editsonglist .rank-category,
#editsonglist .rank-item { padding: 6px 0px; overflow: hidden; clear: both; }
#editsonglist .rank-category { background-color: #666; padding-left: 20px; padding-right: 20px; }
#editsonglist .rank-item .level { cursor:default; letter-spacing:-1px; text-align: center; display: block; width:40px; float: left; font-weight:bold; }
#editsonglist .rank-item .title { cursor:default; font-weight: normal; display: block; width:200px; float: left; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; }
#editsonglist .rank-item-L .level { color:#633; }
#editsonglist .rank-item-A .level { color:#C99; }
#editsonglist .rank-item-H .level { color:#CC9; }
#editsonglist .rank-item-N .level { color:#69C; }
#editsonglist .edit-button { background:none; border: 1px solid #666; line-height: 10px; padding: 5px; width: 80px; text-align: center; float: right; margin-right: 10px; }
#editsonglist .edit-rank { width: 40px; }
#editsonglist .edit-clear-0:before { content:'NOPLAY'; color:#666; }
#editsonglist .edit-clear-1:before { content:'FAILED'; color:#999; }
#editsonglist .edit-clear-2:before { content:'ASSIST'; color:#CAA; }
#editsonglist .edit-clear-3:before { content:'EASY'; color:#9C6; }
#editsonglist .edit-clear-4:before { content:'NORMAL'; color:#69C; }
#editsonglist .edit-clear-5:before { content:'HARD'; color:#C99; }
#editsonglist .edit-clear-6:before { content:'EXHARD'; color:#CC9; }
#editsonglist .edit-clear-7:before { content:'FC'; color:#FFF; }
#editsonglist .edit-rank-F:before { content:'F'; color:#666; }
#editsonglist .edit-rank-E:before { content:'E'; color:#666; }
#editsonglist .edit-rank-D:before { content:'D'; color:#666; }
#editsonglist .edit-rank-C:before { content:'C'; color:#666; }
#editsonglist .edit-rank-B:before { content:'B'; color:#CCC; }
#editsonglist .edit-rank-A:before { content:'A'; color:#FCC; }
#editsonglist .edit-rank-AA:before { content:'AA'; color:#FFC; }
#editsonglist .edit-rank-AAA:before { content:'AAA'; color:#FFF; }
@media screen and (max-width: 768px) {
  #editsonglist .rank-item .title { width: auto; overflow:visible; }
  #editsonglist .edit-button { width: 200px; line-height: 30px; }
  #editsonglist .edit-rank { width: 100px; }
}


/* some nasty things ... */
.type span:before { content: "미정"; }

.type span.scratch:before { content: "血"; }
.type span.charge:before { content: "CN"; }
.type span.hellcharge:before { content: "HCN"; }
.type span.scratch,
.type span.charge,
.type span.hellcharge
{ background-color: #c33 !important; }

.type span.roll:before { content: "연타"; }
.type span.axis:before { content: "축연타"; }
.type span.trill:before { content: "트릴"; }
.type span.stair:before { content: "계단"; }
.type span.tempo:before { content: "엇박"; }
.type span.tatsu:before { content: "동치"; }
.type span.complex:before { content: "스크복합"; }
.type span.bpm:before { content: "변속"; }
.type span.fast:before { content: "고BPM"; }
.type span.strength:before { content: "물량"; }
.type span.rush:before { content: "순간물량"; }
.type span.first:before { content: "초살"; }
.type span.middle:before { content: "중살"; }
.type span.last:before { content: "후살"; }
.type span.roll,
.type span.axis,
.type span.trill,
.type span.stair,
.type span.tempo,
.type span.tatsu,
.type span.complex,
.type span.bpm,
.type span.fast,
.type span.strength,
.type span.rush,
.type span.first,
.type span.middle,
.type span.last
{ background-color: #c93 !important; }


.type span.normal1p:before { content: "1P정배"; }
.type span.normal2p:before { content: "2P정배"; }
.type span.mirror1p:before { content: "1P미러"; }
.type span.mirror2p:before { content: "2P미러"; }
.type span.random1p:before { content: "1P랜덤"; }
.type span.random2p:before { content: "2P랜덤"; }
.type span.normal1p,
.type span.normal2p,
.type span.mirror1p,
.type span.mirror2p,
.type span.random1p,
.type span.random2p
{ background-color: #3c3 !important; }




/* in case of mobile */
@media screen and (max-width: 768px) {
  #top { height: auto; }
  #top .inner { width: 100%; margin: 0; padding:5px 20px; }
  #topmenu li { margin-top: 10px; float:none; clear:both; overflow:hidden; }
  #header .inner { width: 100%; margin: 0; }
  #container { width:100%; }
  #container .notice_inner { max-width: 80%; margin: 50px auto 0; }
}

/* about difficulty color */
.SPA, .DPA { color:#b33; }
.SPH, .DPH { color:#bb3; }
.SPN, .DPN { color:#36b; }
.SPA_l, .DPA_l { color:#FAA; }
.SPH_l, .DPH_l { color:#FFA; }
.SPN_l, .DPN_l { color:#AAF; }
.SPA_s, .DPA_s { text-shadow:0px 0px 3px #f66; }
.SPH_s, .DPH_s { text-shadow: 0px 0px 3px #ff6; }
.SPN_s, .DPN_s { text-shadow: 0px 0px 3px #66f; }

/* others (common) */
.clear { clear:both; margin-bottom:10px; }
.right { float:right; }
.left { float:left; }
.center { text-align:center; }
.row { clear:both; margin-bottom:10px; }
.row button 
{ margin-right:6px; margin-bottom:6px; }

.btn-recommend { background-color:#366; color:#fff; font-weight:bold; }
.btn-recommend:hover { text-shadow:#ffe 0 0 10px; }

#message { position:fixed; display:block; right:0px; top:0px; height:auto; width:auto; background-color:#cc6; color:#fff; font-size:12px; padding: 7px; z-index:999; }
#loading_background { background-color: rgba(0,0,0,0.5); position:fixed; width:100%; height:100%; top:0; left:0; z-index:999; }
#loading_message { background-color: #fff; position:fixed; width:240px; height:60px; text-align: center; padding:20px; top:50%; left:50%; border-radius:20px; margin-left:-120px; margin-top:-30px; box-shadow:#000 0 0 20px; cursor:default; z-index:1000; }
