li.FAILED { background: url('../img/clearlamp_failed.png') 168px 6px no-repeat; }
li.ASSIST_CLEAR { background: url('../img/clearlamp_assist.png') 168px 6px no-repeat; }
li.EASY_CLEAR { background: url('../img/clearlamp_easy.png') 168px 6px no-repeat; }
li.CLEAR { background: url('../img/clearlamp_normal.png') 168px 6px no-repeat; }
li.HARD_CLEAR { background: url('../img/clearlamp_hard.png') 168px 6px no-repeat; }
li.EX-HARD_CLEAR { background: url('../img/clearlamp_exhard.png') 168px 6px no-repeat; }
li.FULL_COMBO { background: url('../img/clearlamp_fullcombo.png') 168px 6px no-repeat; }

/* background. preferred to DP user */
li.diffA { background-color: #fdd; }
li.diffH { background-color: #ffd; }
li.diffN { background-color: #ddf; }

/* and song cell border color overlapped */
.songlist li { border-color: #999; }
