.lamp_clear { background:url('../img/clearlampbg.png') no-repeat; display:block; position:absolute; 
	right:0px; top:0px; width:30px; height:30px; }
.lamp_clear.lamp_clear_0 { display:none; }	/* no_play */
.lamp_clear.lamp_clear_1 { background-position:0 0; }		/* failed */
.lamp_clear.lamp_clear_2 { background-position:0 -30px; }	/* assist */
.lamp_clear.lamp_clear_3 { background-position:0 -60px; }	/* easy */
.lamp_clear.lamp_clear_4 { background-position:0 -90px; }	/* groove */
.lamp_clear.lamp_clear_5 { background-position:0 -120px; }	/* hard */
.lamp_clear.lamp_clear_6 { background-position:0 -150px; }	/* ex */
.lamp_clear.lamp_clear_7 { background-position:0 -180px; }	/* fc */

/* background. preferred to DP user */
li.diffA { background-color: none; }
li.diffH { background-color: none; }
li.diffN { background-color: none; }

/* and song cell border color overlapped */
.songlist li { border-color: #ccc; }
