li.FAILED { background: url('../img/clearlampbg_failed.png') top right repeat-y; }
li.ASSIST_CLEAR { background: url('../img/clearlampbg_assist.png') top right repeat-y; }
li.EASY_CLEAR { background: url('../img/clearlampbg_easy.png') top right repeat-y; }
li.CLEAR { background: url('../img/clearlampbg_normal.png') top right repeat-y; }
li.HARD_CLEAR { background: url('../img/clearlampbg_hard.png') top right repeat-y; }
li.EX-HARD_CLEAR { background: url('../img/clearlampbg_exhard.png') top right repeat-y; }
li.FULL_COMBO { background: url('../img/clearlampbg_fullcombo.png') top right repeat-y; }

