/*
font from
http://mplus.font-face.jp/#/
*/
@font-face {
    font-family: 'M+ 1c medium';
    src: url('../fonts/mplus-1c-medium-sub.eot');
    src: url('../fonts/mplus-1c-medium-sub.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mplus-1c-medium-sub.woff') format('woff'),
    url('../fonts/mplus-1c-medium-sub.ttf') format('truetype');
}


* { padding:0; margin:0; }
body { font-family: 'M+ 1c medium', 'Malgun Gothic', NanumBarunGothicOTF,"Helvetica Neue",Arial,"Apple SD Gothic Neo",Dotum,"돋움",sans-serif; font-size: 14px; }
#rankimg,
#menu,
#container { width:100%; min-width:720px; max-width:1080px; margin: 0 auto 20px; clear: both; }
#container .inner { padding:10px; overflow:hidden; background-color:#fff;  }

/*.outertable { border:0 2px 2px 0 solid #000; }*/
.outertable { width:100%; }
.outertable div:first-child { width:120px; }
.table { display:table; border-collapse: collapse; border-spacing: 0px; }
.row { display:table-row; }
.cell { display:table-cell; border: 2px solid #000; vertical-align: middle; }

.songlist { list-style: none; overflow: hidden; margin:0; }
.songlist li { float:left; display:block; padding:2px 0; width:20%; height: 25px; border-right:1px solid #ccc; border-bottom: 1px solid #ccc; overflow: hidden; position: relative; word-break: break-all; border-collapse:separate; }
.songlist .name { padding:0 8px; }
.rowname { font-weight: bold; text-align: center; }


/* clear lamp */
.clear { position: absolute; width:12px; height:12px; top:6px; right:6px; display: block; }
.NO_PLAY.clear { }
/*
.FAILED.clear { background-color: #999; }
.ASSIST_CLEAR.clear { background-color: #f0f; }
.EASY_CLEAR.clear { background-color: #0f0; }
.CLEAR.clear { background-color: #00f; }
.HARD_CLEAR.clear { background-color: #f00; }
.EX-HARD_CLEAR.clear { background-color: #ff0; }
.FULL_COMBO.clear { background-color: #6ef; }*/
.FAILED.clear { background: url('../img/clearlamp_failed.png') 0 0 no-repeat; }
.ASSIST_CLEAR.clear { background: url('../img/clearlamp_assist.png') 0 0 no-repeat; }
.EASY_CLEAR.clear { background: url('../img/clearlamp_easy.png') 0 0 no-repeat; }
.CLEAR.clear { background: url('../img/clearlamp_normal.png') 0 0 no-repeat; }
.HARD_CLEAR.clear { background: url('../img/clearlamp_hard.png') 0 0 no-repeat; }
.EX-HARD_CLEAR.clear { background: url('../img/clearlamp_exhard.png') 0 0 no-repeat; }
.FULL_COMBO.clear { background: url('../img/clearlamp_fullcombo.png') 0 0 no-repeat; }

/* cell clear */
.cell.NO_PLAY { }
.cell.FAILED { background: url('../img/clearlamp_failed.png') 28px 50% no-repeat; }
.cell.ASSIST_CLEAR { background: url('../img/clearlamp_assist.png') 28px 50% no-repeat; }
.cell.EASY_CLEAR { background: url('../img/clearlamp_easy.png') 28px 50% no-repeat; }
.cell.CLEAR { background: url('../img/clearlamp_clear.png') 28px 50% no-repeat; }
.cell.HARD_CLEAR { background: url('../img/clearlamp_hard.png') 28px 50% no-repeat; }
.cell.EX-HARD_CLEAR { background: url('../img/clearlamp_exhard.png') 28px 50% no-repeat; }
.cell.FULL_COMBO { background: url('../img/clearlamp_fullcombo.png') 28px 50% no-repeat; }

/* rank show */
.rank { position: absolute; width:16px; height:10px; top:7px; right:8px; 
	display: none; background: url('../img/rank.png') no-repeat; }
.rank.AAA { background-position: 0 0; }
.rank.AA { background-position: 0 -17px; }
.rank.A { background-position: 0 -34px; }
.rank.B { background-position: 0 -50px; }
.rank.C { background-position: 0 -67px; }
.rank.D { background-position: 0 -82px; }
.rank.E { background-position: 0 -98px; }
.rank.F { background-position: 0 -116px; }

.songlist .graph { display:block; height:100%; position:absolute; left:0; top:0; z-index:-999;}
.songlist .graph.A { background-color:#fee; }
.songlist .graph.H { background-color:#ffe; }
.songlist .graph.N { background-color:#eef; }

.songlist .grid { position:absolute; display:none; background-color: #ccc; height:5px; width:1px !important; }
.A.gA, .AA.gA, .AAA.gA,
.AA.gAA, .AAA.gAA, .AAA.gAAA { display:block; }
.gA { left:66.66%; }
.gAA { left:77.77%; }
.gAAA { left:88.88%; }

/* header part */
#title { text-align: center; margin-bottom:40px; }

#user span { font-weight: bold; font-size:13px; }
#user .name { background-color: #000; margin-right:6px; }
#user .spdan, #user .dpdan { background-color: #eee; opacity:0.5; }
#user .spdan { border-top-right-radius:0; border-bottom-right-radius:0; }
#user .dpdan { border-top-left-radius:0; border-bottom-left-radius:0; }
.sp.spdan, .dp.dpdan { font-weight: bold; opacity:1 !important; }
.dan2,
.dan3,
.dan4,
.dan5,
.dan6,
.dan7,
.dan8 { background-color: #0c0 !important; }
.dan9,
.dan10,
.dan11,
.dan12,
.dan13,
.dan14,
.dan15,
.dan16 { background-color: #00c !important; }
.dan17,
.dan18 { background-color: #c00 !important; }
.dan19 { background-color: #cc0 !important; }

#preview { margin-bottom:20px; clear:both; width:100%; overflow:hidden; }
#preview li { display:block; padding-right: 30px; margin-right:20px; position: relative; float:left; }
#preview li .clear { }

#url { width:200px; }
#menu { padding: 20px; text-align: right; }
