{% load static %}
<html><head>
<title>404 Not Found</title>
<style type="text/css">
* { padding:0; margin:0; }
body { font-family:'Malgun Gothic', Guilm, Arial; font-size: 13pt; }
#container { display:table; width:100%; height:100%; }
#container .inner {  display:table-cell; vertical-align: middle; text-align:center; }
.clear { clear:both; margin-bottom:20px; }
.message_small { font-weight:normal; color:gray; font-style: italic; }
</style>
</head><body>
<div id="container">
	<div class="inner">
		<div class="clear"><img src="{% static 'img/404.jpg' %}"></div>
		<div class="clear"><h3 class="message">페이지를 찾을 수 없습니다!</h3></div>
    <!--<div class="clear"><h5 class="message_small">찾고 있는 유저가 없는 유저이거나, iidx.me가 작동하지 않거나, 올바르지 않은 URL을 입력하셨습니다!</h5></div> -->
		<div class="clear"><h5 class="message_small">현재 iidx.me 서비스 대응 작업 중입니다. 조금만 더 기다려 주세요 ...</h5></div>
	</div>
</div>
</body></html>
