<!doctype html>
<html>
	<head>
		<title>{% block title %}iidx.me table rank{% endblock %}{% block subtitle %}{% endblock %}</title>
		<meta charset="utf-8" />
    {% if mobileview %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    {% else %}
    <meta name="viewport" content="width=1080, user-scalable=1">
    {% endif %}
        <meta name="description" content="Beatmania IIDX SP/DP 서열표 검색 사이트입니다. 配列表を検索ができます。">
        <meta name="author" content="@lazykuna">

		{% load staticfiles %}
		<link rel=stylesheet type=text/css href="{% static 'css/bootstrap.min.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'css/rankpage_common.css' %}">
		<link rel=stylesheet type=text/css href="{% static 'css/common.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.kerning.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/common.js'%}"></script>

		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<div id="footer">by @lazykuna<br>iidx.me is powered by kuromitz<br>beatmania IIDX is copyrighted by KONAMI<br><br>{% block etc %}{% endblock %}</div>

		<!-- loading form and etc ... -->
		<div id="loading_background" style="display:none;"></div>
		<div id="loading_message" style="display:none;"></div>
		<div id="message" style="display:none;"></div>

<!-- google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44840196-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- google Analytics end -->
	</body>
</html>
