{% extends "common.html" %}
{% load staticfiles %}
{% block head %}

{% endblock %}
{% block body %}

{% include "top.html" %}

<div id="container">
	<div class="notice_inner">
		{% if player %}
		<div class="row">
			<center><a href=".."><button class="btn btn-default"><span class="
glyphicon glyphicon-home"></span></button></a></center>
		</div>		
		<div class="row">
			<div class="userimage" style="text-align:center;"><img src="/qpro/{{ player.iidxid }}"></div>
			<h4 class="djname">DJ {{ player.username }}</h4>
			<h4 class="level" onclick="if (confirm('점수를 갱신하시겠습니까?')) { updateuser('{{ player.userid }}'); }"><span class="label label-default">★{{ player.splevel }} / ★{{ player.dplevel }}</span>★{{ player.spclass }} / ★{{ player.dpclass }}<img src="{% static 'img/loading_small.gif' %}" width="20" id="loading_animation" style="display:none;"></h4>
		</div>
		{% endif %}

		<div class="row clear input-group">
			<input type="text" class="form-control" value="{{ player.userid }}" aria-describedby="basic-addon2" id="searchuser">
			<span class="input-group-addon" id="goto">iidx.me ID</span>
		</div>

    <div class="row recentuser">
      <ul id="recentusers">
        <li class="info">(최근 검색한 유저가 없습니다)</li>
      </ul>
      <script language="javascript">
        $(function () {
          var users = getRecentusers();
          console.log(users);
          if (users.length > 0) {
            $("#recentusers").empty();
            for (var i in users) {
              var uname = users[i];
              var uname_link = "<a href='/" + uname + "/'>" + uname + "</a>";
              var uname_rmlink = "<a href='#' class='rmlink' data-value='" + uname + "'>Χ</a>";
              var obj = $("<li>" + uname_link + uname_rmlink + "</li>");
              $("#recentusers").append(obj);
            }
          }
          // register delete handler
          $("a.rmlink").click(function () {
            var uname = $(this).attr('data-value');
            removeRecentuser(uname);
            $(this).parent().remove();
          });
        });
      </script>
    </div>

		<div class="row input-group">
      <div class="panel panel-default">
        <div class="panel-heading">Notice</div>
        <div class="list-group" style="overflow-y:scroll; height:200px;">
          {% for notice in notices.all %}
            {% autoescape off %}
            <div class="list-group-item">[{{ notice.time|date:"ymd" }}] {{ notice.text }}</div>
            {% endautoescape %}
          {% endfor %}
        </div>
      </div>
		</div>
	</div>
	
  <!--
	<div class="row center">
		<a href="/!/songrank/"><button type="button" class="btn btn-warning">Songs</button></a>
		<a href="/!/userrank/"><button type="button" class="btn btn-warning">Players</button></a>
		<a href="/songcomment/all/1/"><button type="button" class="btn btn-warning">Recent Comments</button></a>
    <a href="/musiclist/"><button type="button" class="btn btn-warning">Musiclist</button></a>
  </div>-->

	<!--<div class="row center">
		<a href="https://github.com/kuna/iidxme_chromeapp/blob/master/app.crx">크롬</a> / <a href="https://github.com/kuna/iidxme_android/blob/master/iidxme.apk">안드로이드</a> iidx.me 갱신 앱을 사용해 보세요.
	</div>-->

</div>
{% endblock %}
