{% extends "common.html" %}
{% load staticfiles %}
{% block head %}
<script>
var dname = "http://" + window.location.host;

function addSPbutton(text, url) {
	url = url.replace("//", "/");
	$("#spcontainer").append('<a href="' + url + '"><button type="button" class="btn btn-primary">' + text + '</button></a>');
}

function addDPbutton(text, url) {
	url = url.replace("//", "/");
	$("#dpcontainer").append('<a href="' + url + '"><button type="button" class="btn btn-danger">' + text + '</button></a>');
}

function moveUserpage() {
	var username = $("#username").val();
	if (username == "") {
		window.location.href = dname + "/iidx";
	} else {
		window.location.href = dname + "/iidx/" + username;
	}
}

$(document).ready(function () {
	$("#goto").click(function () {
		moveUserpage();
	});

	$("#username").keypress(function (e) {
		if (e.which == 13) {
			moveUserpage();
			return false;
		}
	});

	var username = "{{ player.userid }}";
	if (username.length == 0)
		username = "!";

	addSPbutton("SP12.7", "/iidx/" + username + "/sp/12_7");
	addSPbutton("SP12 (2ch)", "/iidx/" + username + "/sp/12");
	addSPbutton("SP11", "/iidx/" + username + "/sp/11h");
	addSPbutton("SP11EXH", "/iidx/" + username + "/sp/11exh");
	addSPbutton("SP10", "/iidx/" + username + "/sp/10");
	addSPbutton("SP9", "/iidx/" + username + "/sp/9");
	addSPbutton("SP8", "/iidx/" + username + "/sp/8");

	addSPbutton("SP12N", "/iidx/" + username + "/sp/12N");
	addSPbutton("SP11N", "/iidx/" + username + "/sp/11N");

	addDPbutton("DP12", "/iidx/" + username + "/dp/12");
	addDPbutton("DP11", "/iidx/" + username + "/dp/11");
	addDPbutton("DP10", "/iidx/" + username + "/dp/10");
	addDPbutton("DP9", "/iidx/" + username + "/dp/9");
	addDPbutton("DP8", "/iidx/" + username + "/dp/8");
});
</script>

{% endblock %}
{% block body %}
<div id="container">
	<div class="notice_inner">
		{% if player %}
		<div class="row">
			<center><a href=".."><button class="btn btn-default"><span class="
glyphicon glyphicon-home"></span></button></a></center>
		</div>		
		<div class="row">
			<div class="userimage" style="text-align:center;"><img src="/iidx/qpro/{{ player.iidxid }}"></div>
			<h4 class="djname">DJ {{ player.username }}</h4>
			<h4 class="level" onclick="if (confirm('점수를 갱신하시겠습니까?')) { updateuser('{{ player.userid }}'); }"><span class="label label-default">★{{ player.splevel }} / ★{{ player.dplevel }}</span>★{{ player.spclass }} / ★{{ player.dpclass }}<img src="{% static 'img/loading_small.gif' %}" width="20" id="loading_animation" style="display:none;"></h4>
		</div>
		{% endif %}

		<div class="row input-group">
			<input type="text" class="form-control" value="{{ player.userid }}" aria-describedby="basic-addon2" id="username">
			<span class="input-group-addon" id="goto">iidx.me ID</span>
		</div>

		<div class="row input-group">
			{% block notice %}
				
			{% endblock %}
		</div>
	</div>

	<div class="row center" id="spcontainer">
	</div>

	<div class="row center" id="dpcontainer">
	</div>
	
	<div class="row center">
		{% if player %}
			<a href="/iidx/{{ player.userid }}/recommend/"><button type="button" class="btn btn-recommend">Recommend</button></a>
		{% endif %}
		<a href="/iidx/!/songrank/"><button type="button" class="btn btn-warning">Songs</button></a>
		<a href="/iidx/!/userrank/"><button type="button" class="btn btn-warning">Players</button></a>
		<a href="/iidx/songcomment/all/1/"><button type="button" class="btn btn-warning">Recent Comments</button></a>
		<a href="/iidx/musiclist/"><button type="button" class="btn btn-warning">Musiclist</button></a>
	</div>

	<!--<div class="row center">
		<a href="https://github.com/kuna/iidxme_chromeapp/blob/master/app.crx">크롬</a> / <a href="https://github.com/kuna/iidxme_android/blob/master/iidxme.apk">안드로이드</a> iidx.me 갱신 앱을 사용해 보세요.
	</div>-->

</div>
{% endblock %}
