{% extends "index.html" %}
{% block head %}
<meta name="viewport" content="width=600px, user-scalable=yes">

<style type="text/css">
body {
	background-color:#0a365d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a365d), color-stop(100%, #030f1b));
	background-image: -webkit-linear-gradient(#0a365d, #030f1b);
	background-image: linear-gradient(#0a365d, #030f1b);
	background-attachment: fixed;
}

#animated_background { position:fixed; top:0; left:0; }

#header {
	position:fixed;
	top:10px; left:10px;
	padding:10px; background-color:rgba(255, 255, 255, 0.5);
	border-radius:5px;
	z-index: 999;
}

#lists {
	position: absolute;
	top:0; right:0;
	width: 480px;
}

#lists li {
	border-radius: 5px 0 0 5px; 
	border-top: 1px solid #333; border-bottom:1px solid #333; 
	margin-bottom:3px;
	background-color: rgba(0,0,0,0.3);
	height: 40px;
	color: #fff;
	list-style: none;
	padding: 7px 0 10px 20px;
	font-family: 'M+ 1c medium', 'Malgun Gothic';
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 0 4px #000;
	cursor: default;
	overflow:hidden;
}
#lists li:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
#lists li .level {
	margin: -8px 8px 0 -20px;
	border-left: 5px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height:40px;
	width: 40px;
	display:block;
	float: left;
	padding: 8px 0;
	text-align: center;
	border-radius: 5px 0 0 5px;
}
#lists li .levelA { color:#faa; }
#lists li .levelH { color:#ffa; }
#lists li .levelN { color:#aaf; }
#lists li .category { 
	position: absolute; left:-160px; width:180px;
	text-align:right; 
	font-weight:normal;
	color: rgba(255, 255, 255, 0.5);
	cursor: hand;
}
#lists li:hover .category { 
	color: #fff;
}

#iframe_container {
	position:fixed;
	top: 120px;
	left: 10px;
	width: 600px;
	height: 600px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
</style>

{% load staticfiles %}
<script src="{% static 'js/background.canvas.js' %}"></script>
<script src="{% static 'js/textage.js' %}"></script>
<script type="text/javascript">
current_mode = "spn";
current_action = "None";
mobile_size = 1440;		// under width 780, iframe won't show
mobile_mode = false;

function loadList(url) {
	$.ajax({
		url: url,
		data: { 'csrftoken': "{{ csrf_token }}" },
		success: function (o) {
			if (o.status == "success") {
				$("#song_lists").empty();
				songs = o.songs;	// store in global variable
				for (var i in o.songs) {
					var tag = "<li onclick='onClickSong(" + i + ")'>"
					tag += "<span class='level level" + o.songs[i].songdiff + "'>" + o.songs[i].songlevel +"</span>";
					tag += "<span class='category'>" + o.songs[i].categories.toString() +"</span>";
					tag += "<span class='title'>" + o.songs[i].songtitle +"</span>";
					tag += "</li>";
					$("#song_lists").append($(tag));
				}
				$('body').scrollTop($('#song_lists').offset().top);
			}
			hideLoading();
		}
	});
	showLoading("please wait ...")
}

function addSeries(series) {
	li_obj = $('<li>Beatmania ' + series + '</li>');
	li_obj.attr('data', series);
	li_obj.click(function (e) {
		loadList("/iidx/json/musiclist/" + current_mode + "/series/" + series);
	});
	$("#category_lists").append(li_obj);
}

function addLevel(level) {
	li_obj = $('<li>Level ' + level + '</li>');
	li_obj.attr('data', level);
	li_obj.click(function (e) {
		loadList("/iidx/json/musiclist/" + current_mode.substring(0, 2) + "/level/" + level);
	});
	$("#category_lists").append(li_obj);
}

$(function() {
	addSeries('1');
	addSeries('ss');
	addSeries('2');
	addSeries('3');
	addSeries('4');
	addSeries('5');
	addSeries('6');
	addSeries('7');
	addSeries('8');
	addSeries('9');
	addSeries('10');
	addSeries('11');
	addSeries('12');
	addSeries('13');
	addSeries('14');
	addSeries('15');
	addSeries('16');
	addSeries('17');
	addSeries('18');
	addSeries('19');
	addSeries('20');
	addSeries('21');
	addSeries('22');
	addSeries('23');
	addLevel('8');
	addLevel('9');
	addLevel('10');
	addLevel('11');
	addLevel('12');
});

function changeDiff(obj) {
	obj = $(obj);
	$("#header .diffmode button").removeClass("btn-primary");
	$("#header .diffmode button").addClass("btn-default");
	obj.removeClass("btn-default");
	obj.addClass("btn-primary");
	current_mode = obj.text();
}

function changeAction(obj) {
	obj = $(obj);
	$("#header .actionmode button").removeClass("btn-primary");
	$("#header .actionmode button").addClass("btn-default");
	obj.removeClass("btn-default");
	obj.addClass("btn-primary");
	current_action = obj.text();		// store current status in global var
	if (current_action == "None") {
		$("#iframe_container").hide();
	} else if (!mobile_mode) {
		$("#iframe_container").show();
	}
}

function onClickSong(idx) {
	title = songs[idx].songtitle;
	type = songs[idx].songtype;
	if (current_action == "Youtube") {
		setFrameSrc('http://www.youtube.com/embed?listType=search&list=beatmania ' + type + ' ' + title);
	} else if (current_action == "Textage") {
		setFrameSrc(getTextageLink(title));
	}
}

/* iframe size & mode(hide or show) set */
function setFrameSrc(url) {
	if (mobile_mode) {
		window.open(url, '_blank');
	} else {
		$("#iframe").attr('src', url);
	}
}

/* iframe size */
$(window).resize(function() {
	mobile_mode = $(window).width()<mobile_size;
	if (!mobile_mode && current_action!="None") {
		$("#iframe_container").show();
	} else {
		$("#iframe_container").hide();
	}
	$("#iframe_container").width( $(window).width()-700 );
	$("#iframe_container").height( $(window).height()-260 );
});
$(function() { $(window).resize(); });		// resize when onload

/*
we'd better to cancel animated background due to rendering performance of mobile ...

$(function() {
	width =  $(window).innerWidth();
	height =  $(window).innerHeight();
	$("#animated_background").attr('width', $(window).innerWidth());
	$("#animated_background").attr('height', $(window).innerHeight());
	con = $("#animated_background")[0].getContext('2d');

	draw_init(100, con, width, height);
	setInterval(draw_circle,80);
});

$(window).resize(function() {
	$("#animated_background").attr('width', $(window).innerWidth());
	$("#animated_background").attr('height', $(window).innerHeight());
});
*/
</script>

{% endblock %}
{% block body %}
<canvas id="animated_background"></canvas>
<div id="header">
	<div class="clear diffmode">
		<button id="spn_mode" class="btn btn-primary" onclick="changeDiff(this)">SPN</button>
		<button id="sph_mode" class="btn btn-default" onclick="changeDiff(this)">SPH</button>
		<button id="spa_mode" class="btn btn-default" onclick="changeDiff(this)">SPA</button>
		<button id="dpn_mode" class="btn btn-default" onclick="changeDiff(this)">DPN</button>
		<button id="dph_mode" class="btn btn-default" onclick="changeDiff(this)">DPH</button>
		<button id="dpa_mode" class="btn btn-default" onclick="changeDiff(this)">DPA</button>
	</div>
	<div class="clear actionmode" style="margin-top: 10px;">
		<button id="action_none" class="btn btn-primary" onclick="changeAction(this)">None</button>
		<button id="action_youtube" class="btn btn-default" onclick="changeAction(this)">Youtube</button>
		<button id="action_textage" class="btn btn-default" onclick="changeAction(this)">Textage</button>
	</div>
</div>
<div id="lists">
	<ul id="category_lists">
	</ul>
	<ul id="song_lists">
	</ul>
</div>
<div id="iframe_container" style="display:none;">
	<iframe id="iframe" width='100%' height='100%' allowfullscreen></iframe>
</div>
{% endblock %}
