{% extends "common.html" %}
{% load staticfiles %}
{% block head %}
<link rel=stylesheet type=text/css href="{% static 'dragula/dragula.min.css' %}">
<script language="javascript" src="{% static 'dragula/dragula.min.js' %}"></script>
{% endblock %}
{% block body %}

{% include "top.html" %}

<script language="javascript">
function movecategory(id, songid, cate) {
  $('#rankitemid').val(id);
  $('#songid').val(songid);
  $('#cateid').val(cate);
  var jstr = $('#modify_songcategory').serialize();
  console.log(jstr);
  $.ajax({
    url: "./",
    type: "POST",
    data: jstr,
    success: function(r) {
      console.log(r);
      showMessage(r.message);
    }
  });
}

$(function () {
  var l = [];
  var objs = document.getElementsByClassName('category'); //document.querySelectorAll('.category');
  for (var i=0; i<objs.length; i++) {
    l.push(objs[i]);
  }
  dragula(l, {
    removeOnSpill: false  // drag to '-' category to remove
  }).on('drop', function (el, target, source) {
    var eid = $(el).attr('data-id');
    var sid = $(el).attr('data-songid');
    var cid = $(target).attr('data-id');
    movecategory(eid, sid, cid);
  }).on('remove', function (el, container, source) {
    var eid = $(el).attr('data-id');
    var sid = $(el).attr('data-songid');
    var cid = -1;
    movecategory(eid, sid, cid);
  });

  $('.item').click(function (e) {
    var songid = $(this).attr('data-songid');
    var songtitle = $(this).attr('data-title');
    $('#songtitle').text(songtitle);
    $('#songedit').attr('href', '/admin/iidxrank/song/' + songid + '/change/');
  });
  $('.item').on('dblclick', function (e) {
    var songid = $(this).attr('data-songid');
    window.open('/admin/iidxrank/song/' + songid + '/change/');
  });
  // make category as fixed one
  $('div.category_title').on('dblclick', function (e) {
    var did = 'd'+$(this).data('id');
    $('#'+did).toggleClass('category_topfix');
  });
});
</script>

  <style type="text/css">
.lv-easy { color:#0C9; } .lv-hd { color:#C00; } .category_topfix { position:fixed; right:10px; top: 40px; width: 800px; height: 800px; overflow-y: scroll !important; }
  </style>

<div id="container"><div class="inner">
  <a href="/admin/iidxrank/ranktable/{{ tableid }}/change/" target="_blank">테이블/카테고리 정보 수정</a>
  <div class="clear"></div>

  <span id="songtitle">(곡명)</span>
  <a href="#" target="_blank" id="songedit">곡 정보 수정 (아래 곡을 더블클릭해도 됩니다)</a>
  <div class="clear"></div>

  <div class="ranktable">
    {% for category in categories %}
    <div class="category_title ctype{{ category.categorytype }}"
      data-sortindex='{{ category.sortindex }}'
      data-type='{{ category.categorytype }}' data-id='{{ category.id }}'>{{ category.category }}</div>
    <div class="category" data-id='{{ category.id }}' id='d{{ category.id }}'>
      {% for item in category.items %}
      <div class="item"
        data-id='{{ item.itemid }}'
        data-songid='{{ item.pkid }}'
        data-title='{{ item.data.title }}'>
        {{ item.data.title }}
        <span class="lv-easy">{{ item.data.lveasy|floatformat:3 }}</span>
        <span class="lv-hd">{{ item.data.lvhd|floatformat:2 }}</span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <!-- hidden forms for POST request -->
  <div class="hidden">
    <form id="modify_songcategory" method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="songcategory"/>
      <input type="hidden" name="id" id="rankitemid" value="0"/>
      <input type="hidden" name="songid" id="songid" value="0"/>
      <input type="hidden" name="category" id="cateid" value="-1"/>
    </form>
  </div>
</div></div>

{% endblock %}
