{% extends "common.html" %}
{% block subtitle %} - {{ pageinfo.title }}{% endblock %}
{% block head %}
{% load staticfiles %}
<!-- override metadata -->
<meta name="viewport" content="width=1120, user-scalable=1">

<link rel=stylesheet type=text/css href="{% static 'css/rankpage_common.css' %}">
<link rel=stylesheet type=text/css id="rankpage_style" href="{% static 'css/rankpage_light3.css' %}">
<script type="text/javascript" src="{% static 'js/table.default.skin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/table.js' %}"></script>

<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<script language="javascript">

var tabledata = {{ tabledata_json|safe }};

$(function (){
	var ttheme = new DefaultRenderer();
	var t = new TableRenderer(ttheme);
	var dorender = function() { setTimeout(function() {
		if (!ttheme.isLoaded()) {
			dorender();
			return;
		}
		t.RenderTable(tabledata);
    var canvas = t.getCanvas();
    $(canvas).click(function(e) {
      var offset = $(this).offset();
      var x = e.pageX - offset.left;
      var y = e.pageY - offset.top;
      item = t.Click(tabledata, x, y);
      console.log(item);
      if (item) {
        console.log(item.data.title);
      }
    });
		$("#rankimg").append(canvas);
	}, 100)};
	dorender();
})

///////////////////////////////////



// django csrf token
window.csrftoken="{{ csrf_token }}";

var png_base64 = "";
var ftitle = "{{ pageinfo.title }} - DJ {{ userinfo.name }}"
var fname = ftitle + ".png";
var rankpage_style_arr = [
"{% static 'css/rankpage_light3.css' %}",
"{% static 'css/rankpage_light2.css' %}",
"{% static 'css/rankpage_default.css' %}",
"{% static 'css/rankpage_hard.css' %}",
];
var rankpage_style_idx = parseInt(loadSetting("rankpage_idx", 0));


/* we need additional script to load & save rank page */
function modifyClear(obj, new_clear) {
	$(obj).attr("data-clear", new_clear);
	$(obj).find(".lamp_clear").attr("class", "lamp_clear lamp_clear_"+new_clear);
}
function createSaveString(nick, iidxid, spdan, dpdan, objs) {
	arr_songs = [];
	objs.each( function (idx) {
		song = {};
		song['id'] = $(this).attr('data-id');
		song['clear'] = $(this).attr('data-clear');
		arr_songs.push(song);
	})
	return JSON.stringify({'nick': nick, 'iidxid': iidxid, 'spdan': spdan, 'dpdan': dpdan, 'songs': arr_songs});
}
function loadSaveString(str) {
	jsondata = JSON.parse(str);
	$("#djname").text(jsondata.nick);
	$("#iidxid").text(jsondata.iidxid);
	for (var idx in jsondata.songs) {
		var songobj = $("li.songli[data-id='" + jsondata.songs[idx].id + "']");
		if (songobj) {
			if (jsondata.songs[idx].clear > 0) {
				console.log(jsondata.songs[idx]);
				console.log(songobj);
			}
			modifyClear(songobj, jsondata.songs[idx].clear);
		}
	}
}
/**/

$(function () {
	/**************************************
	 * skin part 
	 **************************************/
	function changeSkin() {
		$('#rankpage_style').attr("href", rankpage_style_arr[rankpage_style_idx]);
		$('#change_rank_css').text('Skin ' + (rankpage_style_idx+1) + '/' + rankpage_style_arr.length);
		saveSetting("rankpage_idx", rankpage_style_idx);
	}
	$('#change_rank_css').click(function () {
		rankpage_style_idx = (rankpage_style_idx + 1) % rankpage_style_arr.length;
		changeSkin();
	});
	changeSkin();

	/**************************************
	 * rank, rate
	 **************************************/
	$('#show_rank').click(function () {
		$('.rank').toggle();
	});
	$('#order_rate').click(function () {
		$('.songlist').each(function (e) {
			$(this).find('li').sort(function (a, b) {
			 	return $(b).attr('data-rate') - $(a).attr('data-rate');
			})
			.appendTo(this);
		});
	});
	$('#order_clear').click(function () {
		$('.songlist').each(function (e) {
			$(this).find('li').sort(function (a, b) {
				var as = $(a).attr('data-clear');
				if (as == "None") as=0;
				var bs = $(b).attr('data-clear');
				if (bs == "None") bs=0;
			 	return bs - as;
			})
			.appendTo(this);
		});
	});

	/**************************************
		saveload part 
	 **************************************/
	function getSaveState() {
		nick = $("#djname").text();
		iidxid = $("#iidxid").text();
		return createSaveString(nick, iidxid, "8", "8", $("li.songli"));
	}
	// if not logined state then -
	// activate function
	// and load setting when page loads
	// and save setting when exit
	if ({{userinfo.iidxid}} == 0) {
		$('#load_and_save').click(function () { 
			$("#loading_background").toggle();
			$("#container_saveload").toggle();
			$("#json_code").val(getSaveState());
		});
		$(window).unload(function () {
			saveSetting("{{ pageinfo.tablename }}_data", getSaveState());
		});
		var savedata = loadSetting("{{ pageinfo.tablename }}_data");
		if (savedata)
			loadSaveString(savedata);
	} else {
		$('#load_and_save').hide();
	}

	/**************************************
	 * clear modify part
	 **************************************/
	$("li.songli").bind('contextmenu', function (e) {
		var new_clear = (parseInt($(this).attr("data-clear"))+1) % 8;
		modifyClear($(this), new_clear);
		e.preventDefault();
		return false;
	});

	/**************************************
	 * image capture/send to twitter part 
	 **************************************/
	$("#pleaseWaitDialog").show();
	$("#capture").show();
	$("#send").hide();
	$("#url").hide();
	$("#twitter").hide();

	$("#capture").click(function () {
		$("#capture").button('loading');
		html2canvas($("#container"), {
			onrendered: function(canvas) {
				png_base64 = canvas.toDataURL();
				var href = $("<a>", {
					href: png_base64,
					download: fname
				});
				var img = $("<img>", {
					src: png_base64
				});
				$("#container").hide();
				href.append(img)
				$("#rankimg").append(href);
				$("#rankimg").show();

				// button
				$("#capture").button('reset');
				$("#capture").hide();
				$("#send").show();
			}
		});
	});

	$("#send").click(function () {
		var b = png_base64.substring(22);
		$("#send").button('loading');
		$.ajax({
			url: "/imgtl/",
			type: "POST",
			data: { 
				'name': fname.replace( /[^\x00-\x80]/g,'_'),
				'base64': b,
				'csrfmiddlewaretoken': csrftoken
			},
			success: function (o) {
				ret = JSON.parse(o);
				if (ret.error) {
					alert(ret.error);
					return;
				}

				$("#url").val(ret.data.url.direct);
				twitter_url = "http://twitter.com/share?text=" + ftitle + "&hashtags=iidx&url=" + ret.data.url.page;
				//ret.data.url.page;
				console.log(o);

				$("#send").button('reset');
				$("#send").hide();
				$("#url").css('display', 'inline-block');	// block breaks layout
				$("#twitter").css('display', 'inline-block');
			}
		});
	});

	twitter_url = "";
	$("#twitter").click(function () {
		// share twitter
		if (twitter_url != "")
			window.open(twitter_url, "share", "height=300,width=500");
	});

	// do auto kerning (not using currently)
	//$("#ranktable").kerning();
});

/*
//
// update all text into canvas
//
$(window).load(function () {
	$(".songlist .name").each(function (e) {
		clr = "#000000";
		if ($(this).attr("data-series") == "23") {
			// text color is different if it's current series
			clr = "#cc66cc";
		}
		var canvas = new ranklist(150, 20, $(this).text(), clr, 14);
		$(this).empty();
		$(this).append($(canvas.makeCanvas()));
	});
});
*/

</script>

{% endblock %}
{% block body %}
<div id="header"><div class="inner">
  <div class="user">
    <div class="userimage"><img src="/qpro/{{ userinfo.iidxid }}/"></div>
    <div class="userinfo">
      <h3 class="username">DJ {{ userinfo.name }}</h3> {{ userinfo.iidxid }}
      <div class="usergrade">
        <span class="label spdan dan{{ userinfo.spdannum }}">{{ userinfo.spdan }}</span><span class="label dpdan dan{{ userinfo.dpdannum }}">{{ userinfo.dpdan }}</span>
      </div>
      <div class="userlevel"></div>
      <div id="update"></div>
    </div>
  </div>
  <div id="sidemenu">
    <button id="capture" class="btn btn-default" data-loading-text="please wait..." ><span class="glyphicon glyphicon-camera"></span> capture</button>
    <button id="send" class="btn btn-default" data-loading-text="uploading..."><span class="glyphicon glyphicon-upload"></span> upload for url/twitter</button>
    <input type="text" id="url" value="" class="form-control" readonly>
    <button id="twitter" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> twitter</button>
    <div id="search" class="input-group">
      <input type="text" class="form-control"/>
      <span class="input-group-addon" id="goto">iidx.me ID</span>
    </div>
  </div>
  <div id="menu">
    <ul class="list sp">
      <a href="#"><li>SP12H</li></a>
      <a href="#"><li>SP12N</li></a>
      <a href="#"><li>SP11H</li></a>
      <a href="#"><li>SP11N</li></a>
      <a href="#"><li>SP10H</li></a>
      <a href="#"><li>SP10N</li></a>
    </ul>
    <ul class="list dp">
      <a href="#"><li>SP12H</li></a>
      <a href="#"><li>SP12N</li></a>
      <a href="#"><li>SP11H</li></a>
      <a href="#"><li>SP11N</li></a>
      <a href="#"><li>SP10H</li></a>
    </ul>
    <ul class="list theme">
      <a href="#"><li class="sel">클리어</li></a>
      <a href="#"><li>점수</li></a>
    </ul>
    <ul class="list table">
      <a href="#"><li>SP Best</li></a>
      <a href="#"><li>DP Best</li></a>
      <a href="#"><li>SP Recommend</li></a>
      <a href="#"><li>DP Recommend</li></a>
    </ul>
  </div>
</div></div>

<div id="container" class="fixed">
<div id="rankimg">
</div>
<div id="container_saveload" style="display:none;">
	{% include 'rankviewsaveload.html' %}
</div>
{% endblock %}
{% block etc %}{{ pageinfo.copyright }}<br>updated {{ pageinfo.date|date:"ymd" }}{% endblock %}
