{% extends "common.html" %}
{% block subtitle %} - {{ pageinfo.title }}{% endblock %}
{% block head %}
{% load staticfiles %}
<!-- override metadata -->
<meta name="viewport" content="width=1080, user-scalable=1">

<script type="text/javascript" src="{% static 'js/table.default.skin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/table.defscore.skin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/table.js' %}"></script>

<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<script language="javascript">

/////////////////////////////////
// django csrf token

window.csrftoken="{{ csrf_token }}";
var ftitle = "{{ pageinfo.title }} - DJ {{ userinfo.name }}"
var fname = ftitle + ".png";





/////////////////////////////////
// table renderer code

var tabledata = {{ tabledata_json|safe }};
var tabledata_orig = tabledata;

var ttheme = new DefaultRenderer();
var t = new TableRenderer(ttheme);
var rendermode = "clear"
var dorender = function(_rendermode) {
  if (_rendermode) {
    rendermode = _rendermode;
    if (rendermode == "clear") {
      ttheme = new DefaultRenderer();
    } else if (rendermode == "score") {
      ttheme = new DefaultScoreRenderer();
    }
    ttheme.ctx = t.getContext();
    t.renderer = ttheme;
  }
  setTimeout(function() {
    if (!ttheme.isLoaded()) {
      dorender();
      return;
    }
    if (!t.RenderTable(tabledata)) {
      console.log("Error occured during rendering.");
      return;
    }
    var canvas = t.getCanvas();
    $(canvas).bind('contextmenu', function(e) {
      var offset = $(this).offset();
      var x = e.pageX - offset.left;
      var y = e.pageY - offset.top;
      item = t.Click(tabledata, x, y);
      if (item)
        openComment("/songcomment/{{ pageinfo.tablename }}/" + item.pkid);
      return false;
    });
    $("#rankimg").append(canvas);
  }, 100)};





///////////////////////////////////
// save & load script, in case of not-logged in user

function createSaveString() {
	return JSON.stringify(tabledata);
}
function loadSaveString(str) {
	tabledata = JSON.parse(str);
  // set some properties from tabledata (TODO)
}

$(function () {
	// if not logined state then -
	// activate function
	// and load setting when page loads
	// and save setting when exit
	if ({{userinfo.iidxid}} == 0) {
		$('#load_and_save').click(function () { 
			$("#loading_background").toggle();
			$("#container_saveload").toggle();
			$("#json_code").val(createSaveString());
		});
		$(window).unload(function () {
			saveSetting("{{ pageinfo.tablename }}_data", createSaveString());
		});
		var savedata = loadSetting("{{ pageinfo.tablename }}_data");
		if (savedata)
			loadSaveString(savedata);
	} else {
    $('#edittool').hide();
	}

  $('#edit_reset').click(function () {
    if (confirm("정말로 모든 기록을 초기화 하시겠습니까?")) {
      tabledata = tabledata_orig;
      dorender();
    }
  });

  // ***********************
  // modify part
  var item = undefined;
  var canvas = t.getCanvas();
  $(canvas).click(function(e) {
    var offset = $(this).offset();
    var x = e.pageX - offset.left;
    var y = e.pageY - offset.top;
    item = t.Click(tabledata, x, y);
    console.log(item);
    if (item) {
      console.log(item.data.title);
      $('#current_item').val(item.data.title);
    }
  });
  function getRank(r) {
    if (r > 88.88) return "AAA";
    else if (r > 77.77) return "AA";
    else if (r > 66.66) return "A";
    else if (r > 55.55) return "B";
    else if (r > 44.44) return "C";
    else if (r > 33.33) return "D";
    else if (r > 22.22) return "E";
    else return "F";
  }
  $(document).keypress(function(e) {
    if (item == undefined) return;
    console.log(e.which);
    if (e.which == 113) { // Q
      item.clear--;
      if (item.clear < 0) item.clear += 8;
    }
    else if (e.which == 119) { // W
      item.clear++;
      if (item.clear > 8) item.clear -= 8;
    }
    else if (e.which == 97) { // A
      item.rate -= 10;
      if (item.rate < 0) item.rate += 100;
      item.rank = getRank(item.rate);
    }
    else if (e.which == 115) { // S
      item.rate += 10;
      if (item.rate > 100) item.rate -= 100;
      item.rank = getRank(item.rate);
    }
    dorender();
  });
});




$(function (){
	dorender();
});

</script>

{% endblock %}
{% block body %}

{% include "top.html" %}
{% include "profileheader.html" %}

<div id="container" class="fixed">
  <div class="right clear" id="edittool">
    <input id="current_item" disabled="1" value="'~'"/>
    <button id="edit_reset" class="btn btn-xs">reset</button>
    <p>마우스로 곡 선택 후,<br>Q/W: 난이도 수정, A/S: 랭크 수정.</p>
    <!--<p>[:DJ명 수정.</p>-->
    <p>페이지 이동시 자동으로 변경사항이 저장됩니다.</p>
  </div>
  <div class="right clear">
    <!--
    <button id="send" class="btn btn-default" data-loading-text="uploading..."><span class="glyphicon glyphicon-upload"></span> upload for url/twitter</button>
    <input type="text" id="url" value="" class="form-control" readonly>
    <button id="twitter" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> twitter</button>
    -->
    <button id="capture" class="btn btn-default" data-loading-text="please wait..." ><span class="glyphicon glyphicon-camera"></span> download</button>
    <ul class="list theme">
      <a href="#"><li class="sel" data-value="clear">클리어</li></a>
      <a href="#"><li data-value="score">점수</li></a>
    </ul>
  </div>
  <div id="rankimg">
  </div>
  <div id="container_saveload" style="display:none;">
	{% include 'rankviewsaveload.html' %}
</div>
{% endblock %}
{% block etc %}{{ pageinfo.copyright }}<br>updated {{ pageinfo.date|date:"ymd" }}{% endblock %}
