{% extends "common.html" %}
{% block head %}
{% load staticfiles %}
<!-- override metadata -->
<meta name="viewport" content="width=1120, user-scalable=1">

<link rel=stylesheet type=text/css href="{% static 'css/style.css' %}">
<link rel=stylesheet type=text/css id="rankpage_style" href="{% static 'css/rankpage_default.css' %}">
<script type="text/javascript" src="{% static 'js/html2canvas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ranklist.js' %}"></script>
<script language="javascript">
// django csrf token
window.csrftoken="{{ csrf_token }}";

var png_base64 = "";
var ftitle = "{{ pageinfo.title }} - DJ {{ user.name }}"
var fname = ftitle + ".png";
var rankpage_style_arr = [
"{% static 'css/rankpage_default.css' %}",
"{% static 'css/rankpage_light.css' %}",
];
var rankpage_style_idx = 0;

$(document).ready(function () {
	$('#change_rank_css').click(function () {
		rankpage_style_idx = (rankpage_style_idx + 1) % rankpage_style_arr.length;
		$("#rankpage_style").attr("href", rankpage_style_arr[rankpage_style_idx]);
	});
	$('#show_rank').click(function () {
		$('.rank').show();
	});
	$('#order_rate').click(function () {
		$('.songlist').each(function (e) {
			$(this).find('li').sort(function (a, b) {
			 	return $(b).attr('data-rate') - $(a).attr('data-rate');
			})
			.appendTo(this);
		});
	});
	$('#order_clear').click(function () {
		$('.songlist').each(function (e) {
			$(this).find('li').sort(function (a, b) {
				var as = $(a).attr('data-clear');
				if (as == "None") as=0;
				var bs = $(b).attr('data-clear');
				if (bs == "None") bs=0;
			 	return bs - as;
			})
			.appendTo(this);
		});
	});

	$("#pleaseWaitDialog").show();
	$("#capture").show();
	$("#send").hide();
	$("#url").hide();
	$("#twitter").hide();

	$("#capture").click(function () {
		$("#capture").button('loading');
		html2canvas($("#container"), {
			onrendered: function(canvas) {
				png_base64 = canvas.toDataURL();
				var href = $("<a>", {
					href: png_base64,
					download: fname
				});
				var img = $("<img>", {
					src: png_base64
				});
				$("#container").hide();
				href.append(img)
				$("#rankimg").append(href);
				$("#rankimg").show();

				// button
				$("#capture").button('reset');
				$("#capture").hide();
				$("#send").show();
			}
		});
	});

	$("#send").click(function () {
		var b = png_base64.substring(22);
		$("#send").button('loading');
		$.ajax({
			url: "/iidx/imgtl/",
			type: "POST",
			data: { 
				'name': fname.replace( /[^\x00-\x80]/g,'_'),
				'base64': b,
				'csrfmiddlewaretoken': csrftoken
			},
			success: function (o) {
				ret = JSON.parse(o);
				if (ret.error) {
					alert(ret.error);
					return;
				}

				$("#url").val(ret.data.url.direct);
				twitter_url = "http://twitter.com/share?text=" + ftitle + "&hashtags=iidx&url=" + ret.data.url.page;
				//ret.data.url.page;
				console.log(o);

				$("#send").button('reset');
				$("#send").hide();
				$("#url").css('display', 'inline-block');	// block breaks layout
				$("#twitter").css('display', 'inline-block');
			}
		});
	});

	twitter_url = "";
	$("#twitter").click(function () {
		// share twitter
		if (twitter_url != "")
			window.open(twitter_url, "share", "height=300,width=500");
	});

	// do auto kerning (not using currently)
	//$("#ranktable").kerning();
});

//
// update all text into canvas
//
$(window).load(function () {
	$(".songlist .name").each(function (e) {
		var canvas = new ranklist(150, 20, $(this).text(), "#000000", "14px");
		$(this).empty();
		$(this).append($(canvas.makeCanvas()));
	});
});
</script>

{% endblock %}
{% block body %}
<div id="menu">
	<!-- addon button -->
	<a href=".."><button id="home" class="btn btn-default" style="float:left;">return</button></a>
	<button id="change_rank_css" class="btn btn-default">skin</button>
	<button id="show_rank" class="btn btn-default">show rank</button>
	<button id="order_rate" class="btn btn-default">order by rate</button>
	<button id="order_clear" class="btn btn-default">order by clear</button>

	<button id="capture" class="btn btn-default" data-loading-text="please wait..." ><span class="glyphicon glyphicon-camera"></span> capture</button>
	<button id="send" class="btn btn-default" data-loading-text="uploading..."><span class="glyphicon glyphicon-upload"></span> upload for url/twitter</button>
	<input type="text" id="url" value="" class="form-control" readonly>
	<button id="twitter" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> twitter</button>
</div>

<div id="container"><div class="inner">
	<!-- table info -->
	<h2 id="title">{{ pageinfo.titlehtml|safe }}</h2>

	<!-- user info -->
	<p id="user"><span class="label name">DJ {{ user.name }}</span> <span class="label {{ pageinfo.type }} spdan dan{{ user.spdannum }}">{{ user.spdan }}</span><span class="label {{ pageinfo.type }} dpdan dan{{ user.dpdannum }}">{{ user.dpdan }}</span></p>

	<!-- clear lamp info -->
	<ul id="preview">
		<li>FAILED<span class="clearcount">({{ pageinfo.clearinfo.failed }})</span><div class="lamp_sample lamp_category FAILED"></div></li>
		<li>ASSIST CLEAR<span class="clearcount">({{ pageinfo.clearinfo.assist }})</span><div class="lamp_sample lamp_category ASSIST_CLEAR"></div></li>
		<li>EASY CLEAR<span class="clearcount">({{ pageinfo.clearinfo.easy }})</span><div class="lamp_sample lamp_category EASY_CLEAR"></div></li>
		<li>CLEAR<span class="clearcount">({{ pageinfo.clearinfo.normal }})</span><div class="lamp_sample lamp_category CLEAR"></div></li>
		<li>HARD CLEAR<span class="clearcount">({{ pageinfo.clearinfo.hard }})</span><div class="lamp_sample lamp_category HARD_CLEAR"></div></li>
		<li>EX-HARD CLEAR<span class="clearcount">({{ pageinfo.clearinfo.exhard }})</span><div class="lamp_sample lamp_category EX-HARD_CLEAR"></div></li>
		<li>FULLCOMBO<span class="clearcount">({{ pageinfo.clearinfo.fullcombo }})</span><div class="lamp_sample lamp_category FULL_COMBO"></div></li>
	</ul>

	<div id="ranktable">
		<div class="table outertable">
			{% for category in score %}
			<div class="row">
				<div class="cell rowname">
					<!-- <span class="name">{{ category.category }}</span> -->
					<span class="lamp_group {{ category.categoryclearstring }}">{{ category.category }}</span>
				</div>
				<div class="cell">
					<ul class="songlist">
						{% for song in category.songs %}
						<li class="diff{{ song.data.diff }}" 
							data-clear="{{ song.clear }}" data-rate="{{ song.rate }}">
							<span class="name">{{ song.data.title }}</span>
							<div class="lamp_clear {{ song.clearstring }}"></div>
							<div class="rank {{ song.rank }}"></div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div></div>
<div id="rankimg">
</div>
{% endblock %}
{% block etc %}{{ pageinfo.copyright }}<br>updated {{ pageinfo.date|date:"ymd" }}{% endblock %}
