{% extends "common.html" %}
{% block subtitle %}- recommendation{% endblock %}
{% block head %}

{% load staticfiles %}
<!-- datatables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.js"></script>

<style>
.graph { height:20px; border: 1px solid #999; position:relative; border-radius: 2px; }
.graph div { position:absolute; right:0; height:18px; }
.graph .failed { background-color:#ccc; }
.graph .easy { background-color:#cfc; }
.graph .groove { background-color:#ccf; }
.graph .hard { background-color:#fcc; }
.graph .exhard { background-color:#ffc; }
.graph .fc { background-color:#fcf; }
</style>

<script language="javascript">
function loadRecommend(user, type, level) {
	if (!level)
		level = -1;

	function makeGraph(clears) {
		max_width = 150;
		source = "<div class='graph' style='width:" + (max_width+2) + "px;'>"
		source += "<div class='failed' style='width:" + max_width + "px;'></div>"
		source += "<div class='easy' style='width:" + max_width*clears[3]/100 + "px;'></div>"
		source += "<div class='groove' style='width:" + max_width*clears[4]/100 + "px;'></div>"
		source += "<div class='hard' style='width:" + max_width*clears[5]/100 + "px;'></div>"
		source += "<div class='exhard' style='width:" + max_width*clears[6]/100 + "px;'></div>"
		source += "<div class='fc' style='width:" + max_width*clears[7]/100 + "px;'></div>"
		source += "</div>"
		return source
	}

	var dataSet = []
	function processor(row_json, idx) {
		dataSet.push([
			convertSongLevel(row_json.songlevel),
			row_json.songtype,
			row_json.songtitle,
			row_json.target,
			row_json.clear+"%",
			makeGraph(row_json.clears)
		]);
	}
	function onload() {
		$("#tabledata").empty();
		$('#list').DataTable({
			data: dataSet,
			order: [[ 4, "desc" ]],
			columnDefs: [
				{ "type": "string", "targets": 5 },
				{ "type": "diff", "targets": 0 },
				{ "type": "num-fmt", "targets": 4 },
				{ "type": "target", "targets": 3 }
			],
			iDisplayLength: 50,
			destroy: true
		});
		hideLoading();
	}
	showLoading("please wait ...");
	loadJSON("/iidx/json/recommend/" + user + "/" + type + "/" + level, processor, onload);
}

$(function() {
	$("#tabledata").html("<tr><td class='loading' colspan=6>Loading ...</td></tr>");
	loadRecommend("{{ username }}", "SP", 12);
});
</script>

{% endblock %}
{% block body %}

<div id="container">
	<div id="menu">
		<!-- addon button -->
		<div class="row">
			<a href=".."><button id="home" class="btn btn-default" style="float:left;">return</button></a>
		</div>
		<div class="row" id="buttons">
			<a href="#"><button class="btn btn-default" onclick='loadRecommend("{{ username }}", "SP", 12);'>SP12</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadRecommend("{{ username }}", "SP", 11);'>SP11</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadRecommend("{{ username }}", "SP", 10);'>SP10</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadRecommend("{{ username }}", "DP", 12);'>DP12</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadRecommend("{{ username }}", "DP", 11);'>DP11</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadRecommend("{{ username }}", "DP", 10);'>DP10</button></a>
		</div>
	</div>


	<table id="list" class="hover stripe display">
		<thead>
			<tr>
				<th class="small">★</th>
				<th class="small">Type</th>
				<th>Title</th>
				<th>Target</th>
				<th>Prob</th>
				<th class="small" data-orderable="false">Graph</th>
			</tr>
		</thead>
		<tbody id="tabledata">
			<tr>
				<td class="loading" colspan=6>
					Loading ...
				</td>
			</tr>
		<tbody>
	</table>
</div>

{% endblock %}
{% block etc %}{% include 'table_detail.html' %}{% endblock %}
