{% extends "common.html" %}
{% block subtitle %} - songrank{% endblock %}
{% block head %}

{% load staticfiles %}
<!-- datatables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10/datatables.min.js"></script>

<script language="javascript">
function loadSonglist(type, lvl) {
	var dataSet = []
	function processor(row_json, idx) {
		var recmd = "";
		calcweight = (row_json.calcweight_easy)/1;
		if (calcweight < 5.5) {			// don't recommend
			recmd= "△"
		} else if (calcweight > 13) {	// recommend
			recmd= "⊙"
		}

		dataSet.push([
			type+convertSongLevel(row_json.songlevel),
			row_json.songtitle,
			convertSongLevel(row_json.calclevel_easy),
			convertSongLevel(row_json.calclevel_normal),
			convertSongLevel(row_json.calclevel_hd),
			convertSongLevel(row_json.calclevel_exh),
			row_json.series,
			recmd
		]);
	}
	function onload() {
		$("#tabledata").empty();
		$('#list').DataTable({
			data: dataSet,
			order: [[ 2, "desc" ]],
			columnDefs: [
				{ "type": "diff", "targets": 0 },
				{ "type": "diff", "targets": 2 },
				{ "type": "diff", "targets": 3 },
				{ "type": "diff", "targets": 4 },
				{ "type": "diff", "targets": 5 },
				{ "type": "series", "targets": 6 }
			],
			iDisplayLength: 50,
			destroy: true
		});
		$("#buttons button").removeAttr('disabled');
	}
	$("#buttons button").attr('disabled', true);
	loadJSON("/iidx/json/musiclist/"+type+"/level/"+lvl, processor, onload);
}

$(function() {
	$("#tabledata").html("<tr><td class='loading' colspan=8>Loading ...</td></tr>");
	loadSonglist("SP", 12);
});
</script>

{% endblock %}
{% block body %}

<div id="container">
	<div id="menu">
		<!-- addon button -->
		<div class="row">
			<a href="../.."><button id="home" class="btn btn-default" style="float:left;">return</button></a>
		</div>
		<div class="row" id="buttons">
			<a href="#"><button class="btn btn-default" onclick='loadSonglist("SP", 12);'>SP12</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadSonglist("SP", 11);'>SP11</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadSonglist("SP", 10);'>SP10</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadSonglist("DP", 12);'>DP12</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadSonglist("DP", 11);'>DP11</button></a>
			<a href="#"><button class="btn btn-default" onclick='loadSonglist("DP", 10);'>DP10</button></a>
		</div>
		<div class="row">
			<ul>
				<li>충분한 플레이 기록<i>(FAIL이 없거나 전부 HC~EXHC 이상이거나)</i>이 없을 경우에는 수치가 올바르게 표시되지 않을 수 있습니다.</li>
			</ul>
		</div>
	</div>


	<table id="list" class="hover stripe display">
		<thead>
			<tr>
				<th class="small" rowspan='2'>★</th>
				<th rowspan='2'>Title</th>
				<th colspan='4'>Estimated</th>
				<th rowspan='2'>Series</th>
				<th class="small" rowspan='2'>良</th>
			</tr>
			<tr>
				<th>Easy</th>
				<th>Groove</th>
				<th>Hard</th>
				<th>EXH</th>
			</tr>
		</thead>
		<tbody id="tabledata">
			<tr>
				<td class="loading" colspan=5>
					Loading ...
				</td>
			</tr>
		<tbody>
	</table>
</div>

{% endblock %}
{% block etc %}updated {{ pageinfo.date|date:"ymd" }} / <a href="#">what is this?</a>{% endblock %}
