{% extends "index.html" %}
{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
{% endblock %}

{% block body %}
<div id="container">
	<div id="menu">
		<a href="../../../"><button class="btn btn-default">return</button></a>
	</div>

	<!-- song comment board body -->
	<div class="panel panel-default">
		<div class="panel-heading">Recent Comments</div>

		<!-- comments -->
			{% for comment in comments %}
			<div class="list-group-item">
				<div class="comment">
					<div class="clear info">					
						<div class="title {{ comment.song.songtype }}">
							{{ comment.song.songtitle }} (☆{{ comment.song.songlevel }} / {{ comment.song.songtype }} / {{ comment.get_rankcategory.categoryname }}) <span class="ranktabletitle">{{ comment.ranktable.tabletitle }}</span>
						</div>
						<div class="left">
							<span class="writer{% if comment.attr == 2 %} admin{% endif %}">{{ comment.writer }}</span>
							<div class="detail">
								<span class="date">[{{ comment.time|date:"y-m-d H:i:s" }}]</span>
								<span class="ip">{{ comment.ip_public }}</span>
								{% if comment.score == 99 %}
								<span class="score glyphicon glyphicon-comment">
								{% elif comment.score > 0 %}
								<span class="score glyphicon glyphicon-arrow-up">
								{% elif comment.score < 0 %}
								<span class="score glyphicon glyphicon-arrow-down">
								{% elif comment.score == 0 %}
								<span class="score glyphicon glyphicon-ok-circle">
								{% endif %}
								</span>
							</div>
						</div>
						<div class="right">
							<a href="/iidx/songcomment/{{ comment.ranktable.tablename }}/{{ comment.song.id }}/" target="_blank" onclick="return openComment(this.href);">
								<span class="glyphicon glyphicon-link"></span>
							</a>
						</div>
					</div>
					<div class="clear">
						<span class="text">{{ comment.text }}</span>
					</div>
				</div>
			</div>
			{% endfor %}
		<!-- end comments -->
		</div>

		<!-- pagination -->
		<div class="paging">
			<div class="prev">
			{% if comments.has_previous %}
				<a href="../{{ comments.previous_page_number }}/">
				<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
			{% endif %}
			</div>
			<div class="next">
			{% if comments.has_next %}
				<a href="../{{ comments.next_page_number }}/">
				<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			{% endif %}
			</div>
			<div class="center">
				Page {{ comments.number }} of {{ comments.paginator.num_pages }}
			</div>
		</div>
	</div>
	<!-- board body ends -->
</div>
{% endblock %}
