<!-- top: logo / song/play stat, musiclist, recent cmts, board / search -->
<div id="top"><div class="inner">
  <ul id="topmenu">
    <li><a id="logo" href="/">iidx stat/user info site</a></li>
    <li><a href="/!/">연동 없이 서열표 사용하기</a></li>
    {% if user.is_authenticated %}
    <li>ID:{{ user.username }}</li>
    <li><a href="/!/logout/">로그아웃</a></li>
    <li><a href="/!/withdraw/">탈퇴</a></li>
    {% else %}
    <li><a href="/!/login/">로그인</a></li>
    {% endif %}
    <!--
    <li><a href="/!/songrank/">Songs</a></li>
    <li><a href="/!/userrank/">Players</a></li>
    -->
  </ul>
  {% if not hidesearch %}
  <div id="search" class="input-group input-group-sm">
    <input type="text" class="form-control" id="searchuser" value="{{ userinfo.iidxmeid }}" />
    <span class="input-group-addon" id="goto">iidx.me ID</span>
  </div>
  {% endif %}
</div></div>
