{% extends "common.html" %}
{% block subtitle %}- recommendation{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

{% include "top.html" %}
{% include "profileheader.html" %}

<div id="container">
  <h3>하이욤!</h3>
  <div class="clear">
    <p>반드시 iidx.me 계정을 갱신하시고 사용하셔야 서열표가 정상으로 연동이 됩니다.</p>
    <p>난이도 추정과 스킬곡 목록은 iidx.me 계정을 갱신한 후에 여기서 갱신을 해 주셔야 이용이 가능합니다. (현재 오랫동안 방치; 하다가 버그 및 기능 수정중에 있습니다)</p>
    <p>난이도 추정 기능 및 서열표는 오로지 참고용으로서 사용해 주십시오.</p>
    <p>로그인을 하지 않고 서열표를 사용할 때, 기존 유저의 경우에는 아무것도 뜨지 않는 경우가 있습니다. 이때는 [Reset] 버튼을 눌러서 기존 데이터를 초기화시켜 주세요.</p>
  </div>
</div>

{% endblock %}
{% block etc %}{% include 'table_detail.html' %}{% endblock %}
