<!doctype html>
<html>
	<head>
		<title>{% block title %}iidx.me table rank{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
        <meta name="description" content="Beatmania IIDX SP/DP 서열표 검색 사이트입니다. 配列表を検索ができます。">
        <meta name="author" content="@lazykuna">

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.kerning.js') }}"></script>
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<div id="footer">by @lazykuna<br>iidx.me is powered by kuromitz<br>beatmania IIDX is copyrighted by KONAMI<br><br>{% block etc %}{% endblock %}</div>
	</body>
</html>
