<!doctype html>
<html>
	<head>
		<title>iidx.me table rank</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

		<script language="javascript">
		function binary2buffer(bin) {
			var arrBuff = new ArrayBuffer(bin.length);
			var writer = new Uint8Array(arrBuff);
			for (var i = 0, len = bin.length; i < len; i++) {
				writer[i] = bin.charCodeAt(i);
			}
			return arrBuff;
		}

		$(document).ready(function () {
			$("#pleaseWaitDialog").show();
			$("#capture").show();
			$("#send").hide();
			$("#url").hide();
			$("#twitter").hide();

			$("#menu").click(function () {
				$("#capture").button('loading');
				html2canvas($("#container"), {
					onrendered: function(canvas) {
						$("#container").hide();
						$(canvas).id = "img"
						$("#rankimg").append(canvas);
						$("#rankimg").show();

						// button
						$("#capture").button('reset');
						$("#capture").hide();
						$("#send").show();
					}
				});
			});

			$("#send").click(function () {
				var b = $("canvas")[0].toDataURL().substring(22);
				$.ajax({
					url: "/imgtl",
					type: "POST",
					data: { name: "{{ user['name'] }} - {{ mode }}.png", base64: b },
					success: function (o) {
						ret = JSON.parse(o);
						$("#url").val(ret.data.url.direct);
						twitter_url = "http://twitter.com/share?text={{ title }} - {{ user['name'] }}&url=" + ret.data.url.direct;
						//ret.data.url.page;
						console.log(o);

						$("#send").hide();
						$("#url").css('display', 'inline-block');	// block breaks layout
						$("#twitter").css('display', 'inline-block');
					}
				});
			});

			twitter_url = "";
			$("#twitter").click(function () {
				// share twitter
				if (twitter_url != "")
					window.open(twitter_url, "share", "height=300,width=500");
			});
		});
		</script>
	</head>
	<body>
		<div id="container">
			<!-- table info -->
			<h2 id="title">{{ title|safe }}</h2>

			<!-- user info -->
			<p id="user"><span class="name">DJ {{ user['name'] }}</span>, <span class="{{ mode }} spdan dan{{ user['spdannum'] }}">{{ user['spdan'] }}</span> / <span class="{{ mode }} dpdan dan{{ user['dpdannum'] }}">{{ user['dpdan'] }}</span></p>

			<!-- clear lamp info -->
			<ul id="preview">
				<li>FAILED<div class="FAILED clear"></div></li>
				<li>ASSIST CLEAR<div class="ASSIST_CLEAR clear"></div></li>
				<li>EASY CLEAR<div class="EASY_CLEAR clear"></div></li>
				<li>CLEAR<div class="CLEAR clear"></div></li>
				<li>HARD CLEAR<div class="HARD_CLEAR clear"></div></li>
				<li>EX-HARD CLEAR<div class="EX-HARD_CLEAR clear"></div></li>
				<li>FULLCOMBO<div class="FULL_COMBO clear"></div></li>
			</ul>

			<div id="ranktable">
				<div class="table outertable">
					{% for data in datas %}
					<div class="row">
						<div class="cell rowname cell {{ data.categoryclearstring }}"><span class="name">{{ data.category }}</span></div>
						<div class="cell">
							<ul class="songlist">
								{% for song in data.songs %}
								<li>
									<!--<div class="graph {{ song['data']['diff'] }}" style="width: {{ song['rate'] }}%">
									</div>
									<div class="grid {{ song['rank'] }} gA"></div>
									<div class="grid {{ song['rank'] }} gAA"></div>
									<div class="grid {{ song['rank'] }} gAAA"></div>-->
									<span class="name">{{ song.data.title }}</span><span class="{{ song['clearstring'] }} clear"></span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="rankimg">
		</div>

		<div id="menu">
			<button id="capture" class="btn btn-default" data-loading-text="please wait..." ><span class="glyphicon glyphicon-camera"></span> capture</button>
			<button id="send" class="btn btn-default"><span class="glyphicon glyphicon-upload"></span> upload for url/twitter</button>
			<input type="text" id="url" value="" class="form-control" disabled="disabled">
			<button id="twitter" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> twitter</button>
		</div>
	</body>
</html>