{% extends "common.html" %}
{% block head %}
<script>
var dname = "http://" + window.location.host;

function addSPbutton(text, url) {
	url = url.replace("//", "/");
	$("#spcontainer").append('<a href="' + url + '"><button type="button" class="btn btn-primary">' + text + '</button></a>');
}

function addDPbutton(text, url) {
	url = url.replace("//", "/");
	$("#dpcontainer").append('<a href="' + url + '"><button type="button" class="btn btn-danger">' + text + '</button></a>');
}

function moveUserpage() {
	var username = $("#username").val();
	if (username == "") {
		window.location.href = dname + "/iidx";
	} else {
		window.location.href = dname + "/iidx/" + username;
	}
}

$(document).ready(function () {
	$("#goto").click(function () {
		moveUserpage();
	});

	$("#username").keypress(function (e) {
		if (e.which == 13) {
			moveUserpage();
			return false;
		}
	});

	if ("{{ username }}".length > 0) {
		addSPbutton("SP12.7", "/iidx/sp/{{ username }}/12.7");
		addSPbutton("SP12", "/iidx/sp/{{ username }}/12");
		addSPbutton("SP11", "/iidx/sp/{{ username }}/11");
		addSPbutton("SP10", "/iidx/sp/{{ username }}/10");

		addDPbutton("DP12", "/iidx/dp/{{ username }}/12");
		addDPbutton("DP11", "/iidx/dp/{{ username }}/11");
		addDPbutton("DP10", "/iidx/dp/{{ username }}/10");
	}
});
</script>

<style type="text/css">
#container { max-width: 320px; margin:100px auto 0; }
#goto { cursor:pointer; cursor:hand;/*fallback*/ }
.row { clear:both; margin-bottom:10px; }
.row button { margin-right:6px; }

h4.djname { float:left; }
h4.level { float:right; cursor:help; }
h4.level span { display:none; }
h4.level:hover span { display:inline; }
</style>
{% endblock %}
{% block body %}
<div id="container">
	{% if username %}
	<div class="row">
		<h4 class="djname">iidx.me/{{ username }}</h4>
		<h4 class="level"><span class="label label-default">COMING SOON</span>★?? / ★??</h4>
	</div>
	{% endif %}

	<div class="row input-group">
		<input type="text" class="form-control" value="{{ username }}" aria-describedby="basic-addon2" id="username">
		<span class="input-group-addon" id="goto">iidx.me ID</span>
	</div>

	<div class="row center" id="spcontainer">
	</div>

	<div class="row center" id="dpcontainer">
	</div>

	{% block notice %}
		
	{% endblock %}
</div>
{% endblock %}
