{% extends "common.html" %}
{% block subtitle %} - {{ pageinfo.title }}{% endblock %}
{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/table.default.skin.js' %}?v=180513"></script>
<script type="text/javascript" src="{% static 'js/table.default2.skin.js' %}?v=180513"></script>
<script type="text/javascript" src="{% static 'js/table.js' %}?v=170706_2"></script>

<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<script language="javascript">

/////////////////////////////////
// django csrf token

window.csrftoken="{{ csrf_token }}";
var tablename = "{{ tableinfo.tablename }}";
var editmode = ("{{ editable }}"=="True");
var ftitle = "{{ tableinfo.title }} - DJ {{ userdata.name }}"
var fname = ftitle + ".png";




////////////////////////////////
// table data & sort

var tabledata = {{ tabledata_json|safe }};
var tabledata_orig = tabledata;

function sortTabledata(type) {
  type = type !== undefined ? type : "name";
  // type: clear, rate, name

  for (var i in tabledata.categories) {
    cate = tabledata.categories[i];
    cate.items.sort(function (a,b) {
      if (type == "name") {
        var str1 = a.data.title.toLowerCase();
        var str2 = b.data.title.toLowerCase();
        return ( ( str1 == str2 ) ? 0 : ( ( str1 > str2 ) ? 1 : -1 ) );
        //return str1.localeCompare(str2);
      } else if (type == "rate") {
        return ( b.rate - a.rate );
      } else if (type == "clear") {
        return ( b.clear - a.clear );
      } else {
        return 0;
      }
    });
  }
}

$(function () {
  $("#ranksort_clear").click(function () {
    sortTabledata("clear");
    dorender();
  });

  $("#ranksort_rate").click(function () {
    sortTabledata("rate");
    dorender();
  });

  $("#ranksort_name").click(function () {
    sortTabledata("name");
    dorender();
  });
});

// sort by name, basically.
sortTabledata();






function dorender(rendermode)
{
    // clear previous object
    $('#rankimg').empty();

    // mode check
    //var ttheme;
    if (rendermode == "clear") {
      ttheme = new Default2Renderer();
    } else if (rendermode == "score") {
      ttheme = new Default2Renderer();
      ttheme.drawscore = true;
    } else if (rendermode == "wide") {
      ttheme = new Default2Renderer();
      ttheme.width = 1800;
      ttheme.itemcol = 10;
    }

    // generate renderer and render
    var t = new TableRenderer(ttheme);
    t.RenderTo(tabledata, $('#rankimg'));

    {% if editable %}
    // click handler for editing songa
    var clears = ['0','1','2','3','4','5','6','7'];
    var ranks = ['F','E','D','C','B','A','AA','AAA','MAX'];
    t.onItemClick = function(e, item, idx) {
      var editor = $('#editor');
      if (item === undefined)
      {
        editor.hide();
        return;
      }
      // load and display
      var p_x = e.pageX;
      var p_y = e.pageY;
      if (p_x > 600)
        p_x -= 320;
      editor.css({ top: p_y+'px', left: p_x+'px' });
      editor.show();
      editor.text('loading ...');
      editor.load('/!/rankedit/'+item.pkid+'/', function() {
        /* attach click event */
        $('.edit-rank').on('click touch', function (e) {
          var rank_str = $(this).attr('data-rank');
          var rank = ranks.indexOf(rank_str);
          if (rank < 0) { alert('error'); return; }
          var param = [{'id':item.pkid,'rank':rank}];
          _submit('edit', JSON.stringify(param));
          // redraw canvas
          item.rank = rank_str;
          item.rate = rank / 9.0 * 100 + 0.1;
          t.Redraw(tabledata);
          return false;
        });
        $('.edit-clear').on('click touch', function (e) {
          var clear = parseInt($(this).attr('data-clear'));
          var param = [{'id':item.pkid,'clear':clear}];
          _submit('edit', JSON.stringify(param));
          // redraw canvas
          item.clear = clear;
          t.Redraw(tabledata);
          return false;
        });
      });
    }
    {% endif %}
}

$(function() { dorender("clear"); }); 
</script>

{% endblock %}
{% block body %}

{% include "top.html" %}
{% include "profileheader.html" %}

<div id="container" class="fixed">
  <div class="left">
    <!--<a href="./detail/" class="btn btn-default">난이도 제안 & 자세한 정보</a>-->
  </div>
  <div class="right">
    <!--
    <button id="send" class="btn btn-default" data-loading-text="uploading..."><span class="glyphicon glyphicon-upload"></span> upload for url/twitter</button>
    <input type="text" id="url" value="" class="form-control" readonly>
    <button id="twitter" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> twitter</button>
    -->
    {% if request.user.is_staff %}
    <a href="/update/rankedit/{{ tableinfo.tablename }}/" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
    {% endif %}
    <div class="btn-group btn-group-sm">
      <button id="ranksort_clear" class="btn btn-default">sort by clear</button>
      <button id="ranksort_rate" class="btn btn-default">rate</button>
      <button id="ranksort_name" class="btn btn-default">name</button>
    </div>
    <button id="capture" class="btn btn-default" data-loading-text="please wait..." ><span class="glyphicon glyphicon-camera"></span> download</button>
    <ul class="list theme">
      <a href="#"><li class="sel" data-value="clear">클리어</li></a>
      <a href="#"><li data-value="score">점수</li></a>
      <a href="#"><li data-value="wide">WIDE</li></a>
    </ul>
  </div>
  <div class="clear"></div>



  <!-- rank table -->
  <div id="rankimg">
  </div>
  <div class="hidden">
    <form id="imgdownload" action="/imgdownload/" method="POST">
      {% csrf_token %}
      <input type="hidden" id="imgdata" name="base64">
      <input type="hidden" id="imgname" name="name">
    </form>
  </div>



  {% if editable %}
  <!-- edit tool start -->
  <!-- only for mobile
  <div id="editwidget" class="beforeedit">
    <div id="editstart" class="beforeedit widget-title widget-click">서열표 편집하기</div>
    <a href="./"><div id="editfinish" class="afteredit widget-title widget-click">서열표 새로고침</div></a>
    <div id="editsonglist" class="songlist afteredit">
    </div>
  </div>
  -->

  <!-- PC -->
  <div id="editor">
  </div>
  <div style="display:none;">
    <form id="editform">
      {% csrf_token %}
      <input id="editform-action" name="action">
      <input id="editform-v" name="v">
    </form>
  </div>
  <!-- edit tool end -->
  {% endif %}

</div>
{% endblock %}
{% block etc %}{{ pageinfo.copyright }}<br>updated {{ pageinfo.date|date:"ymd" }}{% endblock %}
