{% extends "common.html" %}
{% block subtitle %} - {{ pageinfo.title }}{% endblock %}
{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/table.default.skin.js' %}?v=170415"></script>
<script type="text/javascript" src="{% static 'js/table.defscore.skin.js' %}?v=170415_v2"></script>
<script type="text/javascript" src="{% static 'js/table.js' %}?v=170415"></script>

<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
<script language="javascript">

/////////////////////////////////
// django csrf token

window.csrftoken="{{ csrf_token }}";
var tablename = "{{ tableinfo.tablename }}";
var editmode = ("{{ editable }}"=="True");
var ftitle = "{{ tableinfo.title }} - DJ {{ userdata.name }}"
var fname = ftitle + ".png";




////////////////////////////////
// table data & sort

var tabledata = {{ tabledata_json|safe }};
var tabledata_orig = tabledata;

function sortTabledata(type) {
  type = type !== undefined ? type : "name";
  // type: clear, rate, name

  for (var i in tabledata.categories) {
    cate = tabledata.categories[i];
    cate.items.sort(function (a,b) {
      if (type == "name") {
        var str1 = a.data.title.toLowerCase();
        var str2 = b.data.title.toLowerCase();
        return ( ( str1 == str2 ) ? 0 : ( ( str1 > str2 ) ? 1 : -1 ) );
        //return str1.localeCompare(str2);
      } else if (type == "rate") {
        return ( b.rate - a.rate );
      } else if (type == "clear") {
        return ( b.clear - a.clear );
      } else {
        return 0;
      }
    });
  }
}

$(function () {
  $("#ranksort_clear").click(function () {
    sortTabledata("clear");
    dorender();
  });

  $("#ranksort_rate").click(function () {
    sortTabledata("rate");
    dorender();
  });

  $("#ranksort_name").click(function () {
    sortTabledata("name");
    dorender();
  });
});

// sort by name, basically.
sortTabledata();






/////////////////////////////////
// table renderer code


var ttheme = new DefaultRenderer();
var t = new TableRenderer(ttheme);
var rendermode = "clear"
var dorender = function(_rendermode) {
  if (_rendermode) {
    rendermode = _rendermode;
    if (rendermode == "clear") {
      ttheme = new DefaultRenderer();
    } else if (rendermode == "score") {
      ttheme = new DefaultScoreRenderer();
    }
    ttheme.ctx = t.getContext();
    t.renderer = ttheme;
  }
  setTimeout(function() {
    if (!ttheme.isLoaded()) {
      dorender();
      return;
    }
    if (!t.RenderTable(tabledata)) {
      console.log("Error occured during rendering.");
      return;
    }
    var canvas = t.getCanvas();
    /*
    $(canvas).bind('contextmenu', function(e) {
      var offset = $(this).offset();
      var x = e.pageX - offset.left;
      var y = e.pageY - offset.top;
      item = t.Click(tabledata, x, y);
      if (item)
        openComment("/songcomment/{{ pageinfo.tablename }}_" + item.pkid);
      return false;
    });
    */
    $("#rankimg").append(canvas);
  }, 100)};










$(function (){
	dorender();

  // TODO: render another ...
  var height_per_element = 30;
  var height = tabledata.categories.length * height_per_element + 60;
  var canvas = document.createElement("canvas");
  var ctx = canvas.getContext("2d");
  canvas.width = 600;
  canvas.height = height;

  var ypos = 30;
  ctx.font = "12px Arial";
  var fillclr = [
    "#F0F0F0",
    "#CCCCCC",
    "#FFAAFF",
    "#99CC33",
    "#3399FF",
    "#D03333",  // hard gauge
    "#E0E066",
    "#33FFCC"];
  var graphx = 120;
  var graphw = 440;
  var graphh = 20;

  for (var k=0; k<tabledata.categories.length; k++) {
    var d = tabledata.categories[k];
    ctx.fillStyle="#000000";
    ctx.textAlign="center";
    ctx.fillText(d.category, 50, ypos+15);

    var totalcnt = d.items.length;
    var clearrate = [1,0,0,0,0,0,0,0 ,0]; // last one is dummy
    var clearcnt = [0,0,0,0,0,0,0,0 ,0];
    var ccnt = 0;

    for (var i=0; i<=7; i++) {
      ccnt = 0;
      for (var j=0; j<totalcnt; j++) {
        if (d.items[j].clear >= i) ccnt++;
      }
      clearrate[i] = ccnt / totalcnt;
      clearcnt[i] = ccnt;
      ctx.fillStyle=fillclr[i];
      // box size: 840, 20
      ctx.fillRect(graphx, ypos, graphw*clearrate[i], graphh);
    }
    ctx.fillStyle="#FFFFFF";
    ctx.textAlign="center";
    for (var i=0; i<=7; i++) {
      var cnt = clearcnt[i+1] - clearcnt[i];
      if (cnt==0) continue;
      var xp = (clearrate[i+1] + (clearrate[i]-clearrate[i+1])/2) * graphw;
      ctx.fillText(clearcnt[i]-clearcnt[i+1], graphx+xp, ypos+15);
    }

    ypos += height_per_element;
  }
  $(canvas).insertAfter("#rankimg");
  //$("#rankimg").insertAfter(canvas);
});

</script>

{% endblock %}
{% block body %}

{% include "top.html" %}
{% include "profileheader.html" %}

<div id="container" class="fixed">
  <div class="left">
    <!--<a href="./detail/" class="btn btn-default">난이도 제안 & 자세한 정보</a>-->
  </div>
  <div class="right">
    <!--
    <button id="send" class="btn btn-default" data-loading-text="uploading..."><span class="glyphicon glyphicon-upload"></span> upload for url/twitter</button>
    <input type="text" id="url" value="" class="form-control" readonly>
    <button id="twitter" class="btn btn-info"><span class="glyphicon glyphicon-send"></span> twitter</button>
    -->
    {% if request.user.is_staff %}
    <a href="/update/rankedit/{{ tableinfo.tablename }}/" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
    {% endif %}
    <div class="btn-group btn-group-sm">
      <button id="ranksort_clear" class="btn btn-default">sort by clear</button>
      <button id="ranksort_rate" class="btn btn-default">rate</button>
      <button id="ranksort_name" class="btn btn-default">name</button>
    </div>
    <button id="capture" class="btn btn-default" data-loading-text="please wait..." ><span class="glyphicon glyphicon-camera"></span> download</button>
    <ul class="list theme">
      <a href="#"><li class="sel" data-value="clear">클리어</li></a>
      <a href="#"><li data-value="score">점수</li></a>
    </ul>
  </div>
  <div class="clear"></div>



  <!-- rank table -->
  <div id="rankimg">
  </div>
  <div class="hidden">
    <form id="imgdownload" action="/imgdownload/" method="POST">
      {% csrf_token %}
      <input type="hidden" id="imgdata" name="base64">
      <input type="hidden" id="imgname" name="name">
    </form>
  </div>



  <!-- edit tool -->
  {% if editable %}
  <div id="editwidget" class="beforeedit">
    <div id="editstart" class="beforeedit widget-title widget-click">서열표 편집하기</div>
    <a href="./"><div id="editfinish" class="afteredit widget-title widget-click">서열표 새로고침</div></a>
    <div id="editsonglist" class="songlist afteredit">
    </div>
    <div style="display:none;">
      <form id="editform">
        {% csrf_token %}
        <input id="editform-action" name="action">
        <input id="editform-v" name="v">
      </form>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
{% block etc %}{{ pageinfo.copyright }}<br>updated {{ pageinfo.date|date:"ymd" }}{% endblock %}
