{% extends "common.html" %}
{% block subtitle %}- Login{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

{% include "top.html" %}

<div id="container">
{% if not form.is_valid %}
{{ form.errors }}
{% endif %}

<h3>Upload Single Play</h3>
<form method="POST" action="./">
  {% csrf_token %}
  <div class="row">
    <label>SP CSV <input type="file" name="file" /></label>
  </div>
  <button class="btn btn-primary">SP CSV upload</button>
</form>

<h3>Upload Double Play</h3>
<form method="POST" action="./">
  {% csrf_token %}
  <div class="row">
    <label>DP CSV <input type="file" name="file" /></label>
  </div>
  <button class="btn btn-primary">DP CSV upload</button>
</form>

</div>

{% endblock %}
{% block etc %}{% endblock %}
