{% extends "common.html" %}
{% block subtitle %}- recommendation{% endblock %}
{% block head %}

{% endblock %}
{% block body %}

{% include "top.html" %}
{% include "profileheader.html" %}

<div id="container">
  <h3>하이욤!</h3>
  <div class="clear">
    <p>iidx.me 계정을 갱신하시고 사용하셔야 서열표가 정상으로 연동이 됩니다.</p>
    <p>연동 없이 서열표를 사용하시는 경우, 이제 반드시 <b style="color:#C33;">로그인</b> 하셔야 합니다.
    <br>(로그인 하지 않는 경우, 서열표 다운로드만 가능)</p>
    <p>난이도 추정 기능 및 서열표는 오로지 참고용으로서 사용해 주십시오.</p>
  </div>
</div>

{% endblock %}
{% block etc %}{% include 'table_detail.html' %}{% endblock %}
